/* ---------------------------- House */

:root {
  --grey: #6f7881;
  --grey1: #4a4f52;
  --grey2: #adacb2;
  --greyblue: #919fbc;
  --yellow: #d2c195;
  --brick: #984123;
  --beige1: #877b55;
  --beige: beige;
  --frame: #949589;
  --white: #c8c8c8;
  --dark: #252728;
  --dark1: #323536;
  --dark2: #3e4143;
  --brown: #472302;
  --skin: #edd3a8;
  --blue: #33337c;
  --red: #6c1502;
  --darkjean: #171717;
  --brown1: #1e1812;
  --skin1: #53452c;
  --fl: #5f978b;
  --red: #6c1502;
  --jean: #345157;
  --green1: #3b5628;
  --green2: #224614;
  --green3: #053518;
  --green4: #052f11;
  --green5: #021d0e;
  --green6: #021d0b; }

.place {
  height: 78vh;
  width: 72vh;
  margin: 5vh auto; }

.place > *,
.place > *:before,
.place > *:after {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  position: absolute; }


.building {
  top: 0;
  left: 5vh;
  box-shadow: 16vh 0vh var(--grey), 17vh 0vh var(--grey), 18vh 0vh var(--grey), 19vh 0vh var(--grey), 20vh 0vh var(--grey), 21vh 0vh var(--grey), 22vh 0vh var(--grey), 23vh 0vh var(--grey), 24vh 0vh var(--grey), 25vh 0vh var(--grey), 26vh 0vh var(--grey), 27vh 0vh var(--grey), 28vh 0vh var(--grey), 29vh 0vh var(--grey), 30vh 0vh var(--grey), 31vh 0vh var(--grey), 32vh 0vh var(--grey), 33vh 0vh var(--grey), 34vh 0vh var(--grey), 35vh 0vh var(--grey), 36vh 0vh var(--grey), 37vh 0vh var(--grey), 38vh 0vh var(--grey), 39vh 0vh var(--grey), 16vh 1vh var(--grey), 17vh 1vh var(--grey1), 18vh 1vh var(--grey1), 19vh 1vh var(--grey1), 20vh 1vh var(--grey1), 21vh 1vh var(--grey1), 22vh 1vh var(--grey1), 23vh 1vh var(--grey1), 24vh 1vh var(--grey1), 25vh 1vh var(--grey1), 26vh 1vh var(--grey1), 27vh 1vh var(--grey), 28vh 1vh var(--grey1), 29vh 1vh var(--grey), 30vh 1vh var(--grey1), 31vh 1vh var(--grey), 32vh 1vh var(--grey1), 33vh 1vh var(--grey), 34vh 1vh var(--grey), 35vh 1vh var(--grey), 36vh 1vh var(--grey), 37vh 1vh var(--grey), 38vh 1vh var(--grey), 39vh 1vh var(--grey), 15vh 2vh var(--grey1), 16vh 2vh var(--grey), 17vh 2vh var(--grey1), 18vh 2vh var(--grey2), 19vh 2vh var(--grey1), 20vh 2vh var(--grey2), 21vh 2vh var(--grey1), 22vh 2vh var(--greyblue), 23vh 2vh var(--grey1), 24vh 2vh var(--greyblue), 25vh 2vh var(--grey1), 26vh 2vh var(--grey2), 27vh 2vh var(--grey1), 28vh 2vh var(--grey2), 29vh 2vh var(--grey1), 30vh 2vh var(--grey), 31vh 2vh var(--grey), 32vh 2vh var(--grey), 33vh 2vh var(--grey), 34vh 2vh var(--grey), 35vh 2vh var(--grey), 36vh 2vh var(--white), 37vh 2vh var(--grey), 38vh 2vh var(--grey), 39vh 2vh var(--grey), 40vh 2vh var(--grey1), 15vh 3vh var(--grey1), 16vh 3vh var(--grey), 17vh 3vh var(--grey1), 18vh 3vh var(--grey2), 19vh 3vh var(--grey1), 20vh 3vh var(--grey2), 21vh 3vh var(--grey1), 22vh 3vh var(--greyblue), 23vh 3vh var(--grey1), 24vh 3vh var(--greyblue), 25vh 3vh var(--grey1), 26vh 3vh var(--grey2), 27vh 3vh var(--grey1), 28vh 3vh var(--grey2), 29vh 3vh var(--grey1), 30vh 3vh var(--grey), 31vh 3vh var(--grey), 32vh 3vh var(--grey), 33vh 3vh var(--grey), 34vh 3vh var(--grey), 35vh 3vh var(--grey), 36vh 3vh #e8e8e8, 37vh 3vh var(--grey), 38vh 3vh var(--grey), 39vh 3vh var(--grey), 40vh 3vh var(--grey1), 6vh 4vh var(--beige1), 7vh 4vh var(--beige1), 8vh 4vh var(--beige1), 14vh 4vh var(--grey), 15vh 4vh var(--grey1), 16vh 4vh var(--grey), 17vh 4vh var(--grey1), 18vh 4vh var(--grey2), 19vh 4vh var(--grey1), 20vh 4vh var(--grey2), 21vh 4vh var(--grey1), 22vh 4vh var(--greyblue), 23vh 4vh var(--grey1), 24vh 4vh var(--greyblue), 25vh 4vh var(--grey1), 26vh 4vh var(--grey2), 27vh 4vh var(--grey1), 28vh 4vh var(--grey2), 29vh 4vh var(--grey1), 30vh 4vh var(--grey), 31vh 4vh var(--grey), 32vh 4vh var(--grey), 33vh 4vh var(--grey), 34vh 4vh var(--grey), 35vh 4vh var(--grey), 36vh 4vh var(--greyblue), 37vh 4vh var(--grey), 38vh 4vh var(--greyblue), 39vh 4vh var(--grey), 40vh 4vh var(--grey1), 41vh 4vh var(--grey), 46vh 4vh var(--beige1), 47vh 4vh var(--beige1), 48vh 4vh var(--beige1), 6vh 5vh var(--beige1), 7vh 5vh var(--beige), 8vh 5vh var(--yellow), 14vh 5vh var(--grey), 15vh 5vh var(--grey1), 16vh 5vh var(--grey), 17vh 5vh var(--grey1), 18vh 5vh var(--grey2), 19vh 5vh var(--grey1), 20vh 5vh var(--dark), 21vh 5vh var(--dark), 22vh 5vh var(--grey1), 23vh 5vh var(--grey1), 24vh 5vh var(--greyblue), 25vh 5vh var(--greyblue), 26vh 5vh var(--grey2), 27vh 5vh var(--grey), 28vh 5vh var(--grey2), 29vh 5vh var(--grey), 30vh 5vh var(--grey2), 31vh 5vh var(--grey), 32vh 5vh var(--grey2), 33vh 5vh var(--dark), 34vh 5vh var(--dark), 35vh 5vh var(--grey1), 36vh 5vh var(--greyblue), 37vh 5vh var(--grey), 38vh 5vh var(--greyblue), 39vh 5vh var(--grey), 40vh 5vh var(--grey1), 41vh 5vh var(--grey), 46vh 5vh var(--yellow), 47vh 5vh var(--beige), 48vh 5vh var(--yellow), 6vh 6vh var(--beige1), 7vh 6vh var(--beige), 8vh 6vh var(--yellow), 13vh 6vh var(--grey1), 14vh 6vh var(--grey), 15vh 6vh var(--grey1), 16vh 6vh var(--grey), 17vh 6vh var(--grey1), 18vh 6vh var(--grey2), 19vh 6vh var(--grey1), 20vh 6vh var(--dark), 21vh 6vh var(--dark), 22vh 6vh var(--grey1), 23vh 6vh var(--grey1), 24vh 6vh var(--greyblue), 25vh 6vh var(--greyblue), 26vh 6vh var(--grey2), 27vh 6vh var(--grey), 28vh 6vh var(--grey2), 29vh 6vh var(--grey), 30vh 6vh var(--grey2), 31vh 6vh var(--grey), 32vh 6vh var(--grey2), 33vh 6vh var(--dark), 34vh 6vh var(--dark), 35vh 6vh var(--grey1), 36vh 6vh var(--greyblue), 37vh 6vh var(--grey), 38vh 6vh var(--greyblue), 39vh 6vh var(--grey), 40vh 6vh var(--grey1), 41vh 6vh var(--grey), 42vh 6vh var(--grey1), 46vh 6vh var(--yellow), 47vh 6vh var(--beige), 48vh 6vh var(--yellow), 6vh 7vh var(--beige1), 7vh 7vh var(--beige), 8vh 7vh var(--yellow), 13vh 7vh var(--grey1), 14vh 7vh var(--grey), 15vh 7vh var(--grey1), 16vh 7vh var(--grey), 17vh 7vh var(--grey1), 18vh 7vh var(--grey2), 19vh 7vh var(--grey1), 20vh 7vh var(--grey), 21vh 7vh var(--grey1), 22vh 7vh var(--grey1), 23vh 7vh var(--grey1), 24vh 7vh var(--greyblue), 25vh 7vh var(--grey), 26vh 7vh var(--grey2), 27vh 7vh var(--grey), 28vh 7vh whitesmoke, 29vh 7vh var(--grey), 30vh 7vh var(--grey2), 31vh 7vh var(--grey), 32vh 7vh whitesmoke, 33vh 7vh var(--grey), 34vh 7vh var(--grey), 35vh 7vh var(--grey1), 36vh 7vh var(--greyblue), 37vh 7vh var(--grey1), 38vh 7vh var(--grey), 39vh 7vh var(--grey), 40vh 7vh var(--grey1), 41vh 7vh var(--grey), 42vh 7vh var(--grey1), 46vh 7vh var(--yellow), 47vh 7vh var(--beige), 48vh 7vh var(--yellow), 4vh 8vh var(--brick), 6vh 8vh var(--beige1), 7vh 8vh var(--beige), 8vh 8vh var(--yellow), 12vh 8vh var(--grey1), 13vh 8vh var(--grey1), 14vh 8vh var(--grey), 15vh 8vh var(--grey1), 16vh 8vh var(--grey), 17vh 8vh var(--grey1), 18vh 8vh var(--grey2), 19vh 8vh var(--grey1), 20vh 8vh var(--grey), 21vh 8vh var(--grey1), 22vh 8vh var(--grey1), 23vh 8vh var(--grey1), 24vh 8vh var(--greyblue), 25vh 8vh var(--grey), 26vh 8vh var(--grey2), 27vh 8vh var(--grey), 28vh 8vh whitesmoke, 29vh 8vh var(--grey), 30vh 8vh var(--grey2), 31vh 8vh var(--grey), 32vh 8vh whitesmoke, 33vh 8vh var(--grey), 34vh 8vh var(--grey), 35vh 8vh var(--grey1), 36vh 8vh var(--greyblue), 37vh 8vh var(--grey1), 38vh 8vh var(--grey), 39vh 8vh var(--grey), 40vh 8vh var(--grey1), 41vh 8vh var(--grey), 42vh 8vh var(--grey1), 43vh 8vh var(--grey), 46vh 8vh var(--yellow), 47vh 8vh var(--beige), 48vh 8vh var(--yellow), 51vh 8vh var(--brick), 3vh 9vh var(--beige1), 4vh 9vh var(--beige1), 5vh 9vh var(--beige1), 6vh 9vh var(--beige1), 7vh 9vh var(--beige), 8vh 9vh var(--yellow), 12vh 9vh var(--grey1), 13vh 9vh var(--grey1), 14vh 9vh var(--grey), 15vh 9vh var(--grey1), 16vh 9vh var(--grey), 17vh 9vh var(--grey1), 18vh 9vh var(--grey2), 19vh 9vh var(--grey1), 20vh 9vh var(--grey), 21vh 9vh var(--grey1), 22vh 9vh var(--grey1), 23vh 9vh var(--grey1), 24vh 9vh var(--greyblue), 25vh 9vh var(--grey), 26vh 9vh var(--grey2), 27vh 9vh var(--grey), 28vh 9vh whitesmoke, 29vh 9vh var(--grey), 30vh 9vh var(--grey2), 31vh 9vh var(--grey), 32vh 9vh whitesmoke, 33vh 9vh var(--grey), 34vh 9vh var(--grey), 35vh 9vh var(--grey1), 36vh 9vh var(--greyblue), 37vh 9vh var(--grey1), 38vh 9vh var(--grey), 39vh 9vh var(--grey), 40vh 9vh var(--grey1), 41vh 9vh var(--grey), 42vh 9vh var(--grey1), 43vh 9vh var(--grey), 46vh 9vh var(--yellow), 47vh 9vh var(--beige), 48vh 9vh var(--yellow), 50vh 9vh var(--beige1), 51vh 9vh var(--beige1), 52vh 9vh var(--beige1), 3vh 10vh var(--beige1), 4vh 10vh var(--beige), 5vh 10vh var(--yellow), 6vh 10vh var(--beige1), 7vh 10vh var(--beige), 8vh 10vh var(--yellow), 11vh 10vh var(--grey1), 12vh 10vh var(--grey1), 13vh 10vh var(--grey1), 14vh 10vh var(--grey), 15vh 10vh var(--grey1), 16vh 10vh var(--grey), 17vh 10vh var(--grey1), 18vh 10vh var(--grey2), 19vh 10vh var(--grey1), 20vh 10vh var(--grey), 21vh 10vh var(--grey1), 22vh 10vh var(--grey1), 23vh 10vh var(--grey1), 24vh 10vh var(--greyblue), 25vh 10vh var(--grey), 26vh 10vh var(--grey2), 27vh 10vh var(--grey), 28vh 10vh whitesmoke, 29vh 10vh var(--grey), 30vh 10vh var(--grey2), 31vh 10vh var(--grey), 32vh 10vh whitesmoke, 33vh 10vh var(--grey), 34vh 10vh var(--grey), 35vh 10vh var(--grey1), 36vh 10vh var(--greyblue), 37vh 10vh var(--grey1), 38vh 10vh var(--grey), 39vh 10vh var(--grey), 40vh 10vh var(--grey1), 41vh 10vh var(--grey), 42vh 10vh var(--grey1), 43vh 10vh var(--grey), 44vh 10vh var(--grey1), 46vh 10vh var(--yellow), 47vh 10vh var(--beige), 48vh 10vh var(--yellow), 50vh 10vh var(--beige1), 51vh 10vh var(--beige), 52vh 10vh var(--yellow), 3vh 11vh var(--beige1), 4vh 11vh var(--beige), 5vh 11vh var(--yellow), 6vh 11vh var(--beige1), 7vh 11vh var(--beige), 8vh 11vh var(--yellow), 11vh 11vh var(--grey1), 12vh 11vh var(--grey1), 13vh 11vh var(--grey1), 14vh 11vh var(--grey), 15vh 11vh var(--grey1), 16vh 11vh var(--grey), 17vh 11vh var(--grey1), 18vh 11vh var(--dark), 19vh 11vh var(--dark), 20vh 11vh var(--grey), 21vh 11vh var(--grey1), 22vh 11vh var(--grey2), 23vh 11vh var(--grey1), 24vh 11vh var(--greyblue), 25vh 11vh var(--grey1), 26vh 11vh var(--grey), 27vh 11vh var(--grey1), 28vh 11vh var(--grey), 29vh 11vh var(--dark), 30vh 11vh var(--dark), 31vh 11vh var(--grey1), 32vh 11vh var(--greyblue), 33vh 11vh var(--grey1), 34vh 11vh var(--grey), 35vh 11vh var(--grey1), 36vh 11vh var(--grey), 37vh 11vh var(--grey1), 38vh 11vh var(--grey), 39vh 11vh var(--dark), 40vh 11vh var(--dark), 41vh 11vh var(--grey), 42vh 11vh var(--grey1), 43vh 11vh var(--grey), 44vh 11vh var(--grey1), 46vh 11vh var(--yellow), 47vh 11vh var(--beige), 48vh 11vh var(--yellow), 50vh 11vh var(--beige1), 51vh 11vh var(--beige), 52vh 11vh var(--yellow), 3vh 12vh var(--beige1), 4vh 12vh var(--beige), 5vh 12vh var(--yellow), 6vh 12vh var(--beige1), 7vh 12vh var(--beige), 8vh 12vh var(--yellow), 10vh 12vh var(--grey1), 11vh 12vh var(--grey1), 12vh 12vh var(--grey1), 13vh 12vh var(--grey1), 14vh 12vh var(--grey), 15vh 12vh var(--grey1), 16vh 12vh var(--grey), 17vh 12vh var(--grey1), 18vh 12vh var(--dark), 19vh 12vh var(--dark), 20vh 12vh var(--grey1), 21vh 12vh var(--grey1), 22vh 12vh var(--grey2), 23vh 12vh var(--grey1), 24vh 12vh var(--greyblue), 25vh 12vh var(--grey1), 26vh 12vh var(--grey), 27vh 12vh var(--grey1), 28vh 12vh var(--grey), 29vh 12vh var(--dark), 30vh 12vh var(--dark), 31vh 12vh var(--grey1), 32vh 12vh var(--greyblue), 33vh 12vh var(--grey1), 34vh 12vh var(--grey), 35vh 12vh var(--grey1), 36vh 12vh var(--grey), 37vh 12vh var(--grey1), 38vh 12vh var(--grey), 39vh 12vh var(--dark), 40vh 12vh var(--dark), 41vh 12vh var(--grey), 42vh 12vh var(--grey1), 43vh 12vh var(--grey1), 44vh 12vh var(--grey1), 45vh 12vh var(--grey1), 46vh 12vh var(--yellow), 47vh 12vh var(--beige), 48vh 12vh var(--yellow), 50vh 12vh var(--beige1), 51vh 12vh var(--beige), 52vh 12vh var(--yellow), 3vh 13vh var(--beige1), 4vh 13vh var(--beige), 5vh 13vh var(--yellow), 6vh 13vh var(--beige1), 7vh 13vh var(--beige), 8vh 13vh var(--yellow), 10vh 13vh var(--grey1), 11vh 13vh var(--grey1), 12vh 13vh var(--grey1), 13vh 13vh var(--grey1), 14vh 13vh var(--grey), 15vh 13vh var(--grey1), 16vh 13vh var(--grey), 17vh 13vh var(--grey1), 18vh 13vh var(--dark), 19vh 13vh var(--dark), 20vh 13vh var(--grey1), 21vh 13vh var(--grey1), 22vh 13vh var(--grey2), 23vh 13vh var(--grey1), 24vh 13vh var(--greyblue), 25vh 13vh var(--grey1), 26vh 13vh var(--grey), 27vh 13vh var(--grey1), 28vh 13vh var(--grey), 29vh 13vh var(--dark), 30vh 13vh var(--dark), 31vh 13vh var(--grey1), 32vh 13vh var(--greyblue), 33vh 13vh var(--grey1), 34vh 13vh var(--grey), 35vh 13vh var(--grey1), 36vh 13vh var(--grey), 37vh 13vh var(--grey1), 38vh 13vh var(--grey), 39vh 13vh var(--dark), 40vh 13vh var(--dark), 41vh 13vh var(--grey), 42vh 13vh var(--grey1), 43vh 13vh var(--grey1), 44vh 13vh var(--grey1), 45vh 13vh var(--grey1), 46vh 13vh var(--yellow), 47vh 13vh var(--beige), 48vh 13vh var(--yellow), 50vh 13vh var(--beige1), 51vh 13vh var(--beige), 52vh 13vh var(--yellow), 3vh 14vh var(--beige1), 4vh 14vh var(--beige), 5vh 14vh var(--yellow), 6vh 14vh var(--beige1), 7vh 14vh var(--beige), 8vh 14vh var(--yellow), 9vh 14vh var(--grey1), 10vh 14vh var(--grey1), 11vh 14vh var(--grey1), 12vh 14vh var(--grey1), 13vh 14vh var(--grey1), 14vh 14vh var(--grey), 15vh 14vh var(--grey1), 16vh 14vh var(--grey1), 17vh 14vh var(--grey1), 18vh 14vh var(--grey), 19vh 14vh var(--grey1), 20vh 14vh var(--grey), 21vh 14vh var(--grey1), 22vh 14vh var(--grey2), 23vh 14vh var(--grey1), 24vh 14vh var(--greyblue), 25vh 14vh var(--grey1), 26vh 14vh var(--greyblue), 27vh 14vh var(--beige), 28vh 14vh var(--beige), 29vh 14vh var(--grey1), 30vh 14vh var(--grey1), 31vh 14vh var(--grey1), 32vh 14vh var(--greyblue), 33vh 14vh var(--grey1), 34vh 14vh var(--grey), 35vh 14vh var(--grey1), 36vh 14vh var(--grey), 37vh 14vh var(--grey1), 38vh 14vh var(--grey), 39vh 14vh var(--grey1), 40vh 14vh var(--grey1), 41vh 14vh var(--grey1), 42vh 14vh var(--grey1), 43vh 14vh var(--grey1), 44vh 14vh var(--grey1), 45vh 14vh var(--grey1), 46vh 14vh var(--grey1), 47vh 14vh var(--beige), 48vh 14vh var(--yellow), 50vh 14vh var(--beige1), 51vh 14vh var(--beige), 52vh 14vh var(--yellow), 3vh 15vh var(--beige1), 4vh 15vh var(--beige), 5vh 15vh var(--yellow), 6vh 15vh var(--beige1), 7vh 15vh var(--beige), 8vh 15vh var(--yellow), 9vh 15vh var(--grey1), 10vh 15vh var(--grey1), 11vh 15vh var(--grey1), 12vh 15vh var(--grey1), 13vh 15vh var(--grey1), 14vh 15vh var(--grey1), 15vh 15vh var(--grey1), 16vh 15vh var(--grey1), 17vh 15vh var(--grey1), 18vh 15vh var(--grey1), 19vh 15vh var(--grey1), 20vh 15vh var(--grey), 21vh 15vh var(--grey1), 22vh 15vh var(--grey), 23vh 15vh var(--grey1), 24vh 15vh var(--grey), 25vh 15vh var(--grey1), 26vh 15vh var(--beige), 27vh 15vh var(--beige), 28vh 15vh var(--beige), 29vh 15vh var(--beige), 30vh 15vh var(--grey1), 31vh 15vh var(--grey1), 32vh 15vh var(--grey), 33vh 15vh var(--grey1), 34vh 15vh var(--grey), 35vh 15vh var(--grey1), 36vh 15vh var(--greyblue), 37vh 15vh var(--grey1), 38vh 15vh var(--greyblue), 39vh 15vh var(--grey1), 40vh 15vh var(--grey1), 41vh 15vh var(--grey1), 42vh 15vh var(--grey1), 43vh 15vh var(--grey1), 44vh 15vh var(--grey1), 45vh 15vh var(--grey1), 46vh 15vh var(--grey1), 47vh 15vh var(--beige), 48vh 15vh var(--yellow), 50vh 15vh var(--beige1), 51vh 15vh var(--beige), 52vh 15vh var(--yellow), 3vh 16vh var(--beige1), 4vh 16vh var(--beige), 5vh 16vh var(--yellow), 6vh 16vh var(--beige1), 7vh 16vh var(--beige), 8vh 16vh var(--grey1), 9vh 16vh var(--grey1), 10vh 16vh var(--grey1), 11vh 16vh var(--grey1), 12vh 16vh var(--grey1), 13vh 16vh var(--beige), 14vh 16vh var(--beige), 15vh 16vh var(--grey1), 16vh 16vh var(--grey1), 17vh 16vh var(--grey1), 18vh 16vh var(--grey1), 19vh 16vh var(--grey1), 20vh 16vh var(--grey), 21vh 16vh var(--grey1), 22vh 16vh var(--grey), 23vh 16vh var(--grey1), 24vh 16vh var(--beige), 25vh 16vh var(--beige), 26vh 16vh var(--beige), 27vh 16vh var(--beige), 28vh 16vh var(--beige), 29vh 16vh var(--beige), 30vh 16vh var(--beige), 31vh 16vh var(--beige), 32vh 16vh var(--grey), 33vh 16vh var(--grey1), 34vh 16vh var(--grey), 35vh 16vh var(--grey1), 36vh 16vh var(--grey), 37vh 16vh var(--grey1), 38vh 16vh var(--grey), 39vh 16vh var(--grey1), 40vh 16vh var(--grey1), 41vh 16vh var(--beige), 42vh 16vh var(--beige), 43vh 16vh var(--grey1), 44vh 16vh var(--grey1), 45vh 16vh var(--grey1), 46vh 16vh var(--grey1), 47vh 16vh var(--grey1), 48vh 16vh var(--yellow), 50vh 16vh var(--beige1), 51vh 16vh var(--beige), 52vh 16vh var(--yellow), 3vh 17vh var(--beige1), 4vh 17vh var(--beige), 5vh 17vh var(--yellow), 6vh 17vh var(--beige1), 7vh 17vh var(--beige), 8vh 17vh var(--grey1), 9vh 17vh var(--grey1), 10vh 17vh var(--grey1), 11vh 17vh var(--grey1), 12vh 17vh var(--beige), 13vh 17vh var(--beige), 14vh 17vh var(--beige), 15vh 17vh var(--beige), 16vh 17vh var(--grey1), 17vh 17vh var(--grey1), 18vh 17vh var(--grey1), 19vh 17vh var(--grey1), 20vh 17vh var(--grey), 21vh 17vh var(--grey1), 22vh 17vh var(--grey), 23vh 17vh var(--grey1), 24vh 17vh var(--yellow), 25vh 17vh var(--yellow), 26vh 17vh var(--yellow), 27vh 17vh var(--yellow), 28vh 17vh var(--yellow), 29vh 17vh var(--yellow), 30vh 17vh var(--yellow), 31vh 17vh var(--yellow), 32vh 17vh var(--grey), 33vh 17vh var(--grey1), 34vh 17vh var(--grey), 35vh 17vh var(--grey1), 36vh 17vh var(--grey), 37vh 17vh var(--grey1), 38vh 17vh var(--grey), 39vh 17vh var(--grey1), 40vh 17vh var(--beige), 41vh 17vh var(--beige), 42vh 17vh var(--beige), 43vh 17vh var(--beige), 44vh 17vh var(--grey1), 45vh 17vh var(--grey1), 46vh 17vh var(--grey1), 47vh 17vh var(--grey1), 48vh 17vh var(--yellow), 50vh 17vh var(--beige1), 51vh 17vh var(--beige), 52vh 17vh var(--yellow), 3vh 18vh var(--beige1), 4vh 18vh var(--beige), 5vh 18vh var(--yellow), 6vh 18vh var(--beige1), 7vh 18vh var(--grey1), 8vh 18vh var(--grey1), 9vh 18vh var(--grey1), 10vh 18vh var(--beige), 11vh 18vh var(--beige), 12vh 18vh var(--beige), 13vh 18vh var(--beige), 14vh 18vh var(--beige), 15vh 18vh var(--beige), 16vh 18vh var(--beige), 17vh 18vh var(--beige), 18vh 18vh var(--grey1), 19vh 18vh var(--grey1), 20vh 18vh var(--grey), 21vh 18vh var(--grey1), 22vh 18vh var(--grey), 23vh 18vh var(--grey1), 24vh 18vh var(--dark2), 25vh 18vh var(--beige), 26vh 18vh var(--beige), 27vh 18vh var(--beige), 28vh 18vh var(--beige), 29vh 18vh var(--beige), 30vh 18vh var(--beige), 31vh 18vh var(--dark2), 32vh 18vh var(--grey), 33vh 18vh var(--grey1), 34vh 18vh var(--grey), 35vh 18vh var(--grey1), 36vh 18vh var(--grey), 37vh 18vh var(--grey1), 38vh 18vh var(--beige), 39vh 18vh var(--beige), 40vh 18vh var(--beige), 41vh 18vh var(--beige), 42vh 18vh var(--beige), 43vh 18vh var(--beige), 44vh 18vh var(--beige), 45vh 18vh var(--beige), 46vh 18vh var(--grey1), 47vh 18vh var(--grey1), 48vh 18vh var(--grey1), 50vh 18vh var(--beige1), 51vh 18vh var(--beige), 52vh 18vh var(--yellow), 3vh 19vh var(--beige1), 4vh 19vh var(--beige), 5vh 19vh var(--yellow), 6vh 19vh var(--beige1), 7vh 19vh var(--grey1), 8vh 19vh var(--grey1), 9vh 19vh var(--grey1), 10vh 19vh var(--yellow), 11vh 19vh var(--yellow), 12vh 19vh var(--yellow), 13vh 19vh var(--yellow), 14vh 19vh var(--yellow), 15vh 19vh var(--yellow), 16vh 19vh var(--yellow), 17vh 19vh var(--yellow), 18vh 19vh var(--grey1), 19vh 19vh var(--grey1), 20vh 19vh var(--grey), 21vh 19vh var(--grey1), 22vh 19vh var(--grey), 23vh 19vh var(--grey1), 24vh 19vh var(--dark2), 25vh 19vh var(--beige), 26vh 19vh var(--grey1), 27vh 19vh var(--grey1), 28vh 19vh var(--grey1), 29vh 19vh var(--grey1), 30vh 19vh var(--beige), 31vh 19vh var(--dark2), 32vh 19vh var(--grey), 33vh 19vh var(--grey1), 34vh 19vh var(--grey), 35vh 19vh var(--grey1), 36vh 19vh var(--grey), 37vh 19vh var(--grey1), 38vh 19vh var(--yellow), 39vh 19vh var(--yellow), 40vh 19vh var(--yellow), 41vh 19vh var(--yellow), 42vh 19vh var(--yellow), 43vh 19vh var(--yellow), 44vh 19vh var(--yellow), 45vh 19vh var(--yellow), 46vh 19vh var(--grey1), 47vh 19vh var(--grey1), 48vh 19vh var(--grey1), 50vh 19vh var(--beige1), 51vh 19vh var(--beige), 52vh 19vh var(--yellow), 3vh 20vh var(--beige1), 4vh 20vh var(--beige), 5vh 20vh var(--yellow), 6vh 20vh var(--grey1), 7vh 20vh var(--grey1), 8vh 20vh var(--grey), 9vh 20vh var(--grey1), 10vh 20vh var(--dark2), 11vh 20vh var(--beige), 12vh 20vh var(--beige), 13vh 20vh var(--beige), 14vh 20vh var(--beige), 15vh 20vh var(--beige), 16vh 20vh var(--beige), 17vh 20vh var(--dark2), 18vh 20vh var(--grey1), 19vh 20vh var(--grey1), 20vh 20vh var(--grey), 21vh 20vh var(--grey1), 22vh 20vh var(--grey), 23vh 20vh var(--grey1), 24vh 20vh var(--dark2), 25vh 20vh var(--beige), 26vh 20vh var(--grey1), 27vh 20vh var(--grey1), 28vh 20vh var(--grey1), 29vh 20vh var(--grey1), 30vh 20vh var(--beige), 31vh 20vh var(--dark2), 32vh 20vh var(--grey1), 33vh 20vh var(--grey1), 34vh 20vh var(--grey), 35vh 20vh var(--grey1), 36vh 20vh var(--grey), 37vh 20vh var(--grey1), 38vh 20vh var(--dark2), 39vh 20vh var(--beige), 40vh 20vh var(--beige), 41vh 20vh var(--beige), 42vh 20vh var(--beige), 43vh 20vh var(--beige), 44vh 20vh var(--beige), 45vh 20vh var(--dark2), 46vh 20vh var(--grey1), 47vh 20vh var(--grey1), 48vh 20vh var(--grey1), 49vh 20vh var(--grey1), 50vh 20vh var(--beige1), 51vh 20vh var(--beige), 52vh 20vh var(--yellow), 3vh 21vh var(--beige1), 4vh 21vh var(--beige), 5vh 21vh var(--yellow), 6vh 21vh var(--grey1), 7vh 21vh var(--grey1), 8vh 21vh var(--grey), 9vh 21vh var(--grey1), 10vh 21vh var(--dark2), 11vh 21vh var(--beige), 12vh 21vh var(--grey1), 13vh 21vh var(--grey1), 14vh 21vh var(--grey1), 15vh 21vh var(--grey1), 16vh 21vh var(--beige), 17vh 21vh var(--dark2), 18vh 21vh var(--grey1), 19vh 21vh var(--grey1), 20vh 21vh var(--grey), 21vh 21vh var(--grey1), 22vh 21vh var(--grey), 23vh 21vh var(--grey1), 24vh 21vh var(--dark2), 25vh 21vh var(--beige), 26vh 21vh var(--grey1), 27vh 21vh var(--grey1), 28vh 21vh var(--grey1), 29vh 21vh var(--grey1), 30vh 21vh var(--beige), 31vh 21vh var(--dark2), 32vh 21vh var(--grey1), 33vh 21vh var(--grey1), 34vh 21vh var(--grey), 35vh 21vh var(--grey1), 36vh 21vh var(--grey), 37vh 21vh var(--grey1), 38vh 21vh var(--dark2), 39vh 21vh var(--beige), 40vh 21vh var(--grey1), 41vh 21vh var(--grey1), 42vh 21vh var(--grey1), 43vh 21vh var(--grey1), 44vh 21vh var(--beige), 45vh 21vh var(--dark2), 46vh 21vh var(--grey1), 47vh 21vh var(--grey1), 48vh 21vh var(--grey1), 49vh 21vh var(--grey1), 50vh 21vh var(--beige1), 51vh 21vh var(--beige), 52vh 21vh var(--yellow), 3vh 22vh var(--beige1), 4vh 22vh var(--beige), 5vh 22vh var(--grey1), 6vh 22vh var(--grey1), 7vh 22vh var(--grey1), 8vh 22vh var(--grey), 9vh 22vh var(--grey1), 10vh 22vh var(--dark2), 11vh 22vh var(--beige), 12vh 22vh var(--grey1), 13vh 22vh var(--grey1), 14vh 22vh var(--grey1), 15vh 22vh var(--grey1), 16vh 22vh var(--beige), 17vh 22vh var(--dark2), 18vh 22vh var(--grey1), 19vh 22vh var(--grey1), 20vh 22vh var(--grey), 21vh 22vh var(--grey1), 22vh 22vh var(--grey), 23vh 22vh var(--grey1), 24vh 22vh var(--dark2), 25vh 22vh var(--beige), 26vh 22vh var(--grey1), 27vh 22vh var(--grey1), 28vh 22vh var(--grey1), 29vh 22vh var(--grey1), 30vh 22vh var(--beige), 31vh 22vh var(--dark2), 32vh 22vh var(--grey1), 33vh 22vh var(--grey1), 34vh 22vh var(--grey), 35vh 22vh var(--grey1), 36vh 22vh var(--grey), 37vh 22vh var(--grey1), 38vh 22vh var(--dark2), 39vh 22vh var(--beige), 40vh 22vh var(--grey1), 41vh 22vh var(--grey1), 42vh 22vh var(--grey1), 43vh 22vh var(--grey1), 44vh 22vh var(--beige), 45vh 22vh var(--dark2), 46vh 22vh var(--grey1), 47vh 22vh var(--grey1), 48vh 22vh var(--grey1), 49vh 22vh var(--grey1), 50vh 22vh var(--grey1), 51vh 22vh var(--beige), 52vh 22vh var(--yellow), 3vh 23vh var(--beige1), 4vh 23vh var(--beige), 5vh 23vh var(--grey1), 6vh 23vh var(--grey), 7vh 23vh var(--grey1), 8vh 23vh var(--grey), 9vh 23vh var(--grey1), 10vh 23vh var(--dark1), 11vh 23vh var(--beige), 12vh 23vh var(--grey1), 13vh 23vh var(--grey1), 14vh 23vh var(--grey1), 15vh 23vh var(--grey1), 16vh 23vh var(--beige), 17vh 23vh var(--dark1), 18vh 23vh var(--grey1), 19vh 23vh var(--grey1), 20vh 23vh var(--grey), 21vh 23vh var(--grey1), 22vh 23vh var(--grey), 23vh 23vh var(--grey1), 24vh 23vh var(--dark1), 25vh 23vh var(--beige), 26vh 23vh var(--grey1), 27vh 23vh var(--grey1), 28vh 23vh var(--grey1), 29vh 23vh var(--grey1), 30vh 23vh var(--beige), 31vh 23vh var(--dark1), 32vh 23vh var(--grey1), 33vh 23vh var(--grey1), 34vh 23vh var(--grey1), 35vh 23vh var(--grey1), 36vh 23vh var(--grey1), 37vh 23vh var(--grey1), 38vh 23vh var(--dark1), 39vh 23vh var(--beige), 40vh 23vh var(--grey1), 41vh 23vh var(--grey1), 42vh 23vh var(--grey1), 43vh 23vh var(--grey1), 44vh 23vh var(--beige), 45vh 23vh var(--dark1), 46vh 23vh var(--grey1), 47vh 23vh var(--grey1), 48vh 23vh var(--grey1), 49vh 23vh var(--grey1), 50vh 23vh var(--grey1), 51vh 23vh var(--beige), 52vh 23vh var(--yellow), 3vh 24vh var(--beige1), 4vh 24vh var(--grey1), 5vh 24vh var(--grey1), 6vh 24vh var(--grey), 7vh 24vh var(--grey1), 8vh 24vh var(--grey), 9vh 24vh var(--grey1), 10vh 24vh var(--dark1), 11vh 24vh var(--beige), 12vh 24vh var(--grey1), 13vh 24vh var(--grey1), 14vh 24vh var(--grey1), 15vh 24vh var(--grey1), 16vh 24vh var(--beige), 17vh 24vh var(--dark1), 18vh 24vh var(--grey1), 19vh 24vh var(--grey1), 20vh 24vh var(--grey), 21vh 24vh var(--grey1), 22vh 24vh var(--grey), 23vh 24vh var(--grey1), 24vh 24vh var(--dark1), 25vh 24vh var(--beige), 26vh 24vh var(--grey1), 27vh 24vh var(--grey1), 28vh 24vh var(--grey1), 29vh 24vh var(--grey1), 30vh 24vh var(--beige), 31vh 24vh var(--dark1), 32vh 24vh var(--grey1), 33vh 24vh var(--grey1), 34vh 24vh var(--grey1), 35vh 24vh var(--grey1), 36vh 24vh var(--grey), 37vh 24vh var(--grey1), 38vh 24vh var(--dark1), 39vh 24vh var(--beige), 40vh 24vh var(--grey1), 41vh 24vh var(--grey1), 42vh 24vh var(--grey1), 43vh 24vh var(--grey1), 44vh 24vh var(--beige), 45vh 24vh var(--dark1), 46vh 24vh var(--grey1), 47vh 24vh var(--grey1), 48vh 24vh var(--grey1), 49vh 24vh var(--grey1), 50vh 24vh var(--grey1), 51vh 24vh var(--grey1), 52vh 24vh var(--yellow), 3vh 25vh var(--grey1), 4vh 25vh var(--grey1), 5vh 25vh var(--grey1), 6vh 25vh var(--grey), 7vh 25vh var(--grey1), 8vh 25vh var(--grey), 9vh 25vh var(--grey1), 10vh 25vh var(--dark1), 11vh 25vh var(--beige), 12vh 25vh var(--grey1), 13vh 25vh var(--grey1), 14vh 25vh var(--grey1), 15vh 25vh var(--grey1), 16vh 25vh var(--beige), 17vh 25vh var(--dark1), 18vh 25vh var(--grey1), 19vh 25vh var(--grey1), 20vh 25vh var(--grey), 21vh 25vh var(--grey1), 22vh 25vh var(--grey1), 23vh 25vh var(--grey1), 24vh 25vh var(--dark1), 25vh 25vh var(--beige), 26vh 25vh var(--grey1), 27vh 25vh var(--grey1), 28vh 25vh var(--grey1), 29vh 25vh var(--grey1), 30vh 25vh var(--beige), 31vh 25vh var(--dark1), 32vh 25vh var(--grey1), 33vh 25vh var(--grey1), 34vh 25vh var(--grey), 35vh 25vh var(--grey1), 36vh 25vh var(--grey), 37vh 25vh var(--grey1), 38vh 25vh var(--dark1), 39vh 25vh var(--beige), 40vh 25vh var(--grey1), 41vh 25vh var(--grey1), 42vh 25vh var(--grey1), 43vh 25vh var(--grey1), 44vh 25vh var(--beige), 45vh 25vh var(--dark1), 46vh 25vh var(--grey1), 47vh 25vh var(--grey1), 48vh 25vh var(--grey1), 49vh 25vh var(--grey1), 50vh 25vh var(--grey1), 51vh 25vh var(--grey1), 52vh 25vh var(--grey1), 2vh 26vh var(--grey1), 3vh 26vh var(--grey1), 4vh 26vh var(--grey), 5vh 26vh var(--grey1), 6vh 26vh var(--grey), 7vh 26vh var(--grey1), 8vh 26vh var(--grey), 9vh 26vh var(--grey1), 10vh 26vh var(--dark1), 11vh 26vh var(--beige), 12vh 26vh var(--grey1), 13vh 26vh var(--grey1), 14vh 26vh var(--grey1), 15vh 26vh var(--grey1), 16vh 26vh var(--beige), 17vh 26vh var(--dark1), 18vh 26vh var(--grey1), 19vh 26vh var(--grey1), 20vh 26vh var(--grey), 21vh 26vh var(--grey1), 22vh 26vh var(--grey), 23vh 26vh var(--grey1), 24vh 26vh var(--dark1), 25vh 26vh var(--beige), 26vh 26vh var(--grey1), 27vh 26vh var(--grey1), 28vh 26vh var(--grey1), 29vh 26vh var(--grey1), 30vh 26vh var(--beige), 31vh 26vh var(--dark1), 32vh 26vh var(--grey1), 33vh 26vh var(--grey1), 34vh 26vh var(--grey1), 35vh 26vh var(--grey1), 36vh 26vh var(--grey1), 37vh 26vh var(--grey1), 38vh 26vh var(--dark1), 39vh 26vh var(--beige), 40vh 26vh var(--grey1), 41vh 26vh var(--grey1), 42vh 26vh var(--grey1), 43vh 26vh var(--grey1), 44vh 26vh var(--beige), 45vh 26vh var(--dark1), 46vh 26vh var(--grey1), 47vh 26vh var(--grey1), 48vh 26vh var(--grey1), 49vh 26vh var(--grey1), 50vh 26vh var(--grey1), 51vh 26vh var(--grey1), 52vh 26vh var(--grey1), 53vh 26vh var(--grey1), 1vh 27vh var(--grey1), 2vh 27vh var(--grey1), 3vh 27vh var(--grey1), 4vh 27vh var(--grey1), 5vh 27vh var(--grey1), 6vh 27vh var(--grey1), 7vh 27vh var(--grey1), 8vh 27vh var(--grey1), 9vh 27vh var(--grey1), 10vh 27vh var(--dark1), 11vh 27vh var(--beige), 12vh 27vh var(--beige), 13vh 27vh var(--beige), 14vh 27vh var(--beige), 15vh 27vh var(--beige), 16vh 27vh var(--beige), 17vh 27vh var(--dark1), 18vh 27vh var(--grey1), 19vh 27vh var(--grey1), 20vh 27vh var(--grey1), 21vh 27vh var(--grey1), 22vh 27vh var(--grey1), 23vh 27vh var(--grey1), 24vh 27vh var(--dark1), 25vh 27vh var(--beige), 26vh 27vh var(--beige), 27vh 27vh var(--beige), 28vh 27vh var(--beige), 29vh 27vh var(--beige), 30vh 27vh var(--beige), 31vh 27vh var(--dark1), 32vh 27vh var(--grey1), 33vh 27vh var(--grey1), 34vh 27vh var(--grey1), 35vh 27vh var(--grey1), 36vh 27vh var(--grey1), 37vh 27vh var(--grey1), 38vh 27vh var(--dark1), 39vh 27vh var(--beige), 40vh 27vh var(--beige), 41vh 27vh var(--beige), 42vh 27vh var(--beige), 43vh 27vh var(--beige), 44vh 27vh var(--beige), 45vh 27vh var(--dark1), 46vh 27vh var(--grey1), 47vh 27vh var(--grey1), 48vh 27vh var(--grey1), 49vh 27vh var(--grey1), 50vh 27vh var(--grey1), 51vh 27vh var(--grey1), 52vh 27vh var(--grey1), 53vh 27vh var(--grey1), 2vh 28vh var(--grey2), 3vh 28vh var(--grey2), 4vh 28vh var(--grey2), 5vh 28vh var(--grey2), 6vh 28vh var(--grey2), 7vh 28vh var(--grey2), 8vh 28vh var(--grey2), 9vh 28vh var(--grey2), 10vh 28vh var(--grey2), 11vh 28vh var(--grey2), 12vh 28vh var(--grey2), 13vh 28vh var(--grey2), 14vh 28vh var(--grey2), 15vh 28vh var(--grey2), 16vh 28vh var(--grey2), 17vh 28vh var(--grey2), 18vh 28vh var(--grey2), 19vh 28vh var(--grey2), 20vh 28vh var(--grey2), 21vh 28vh var(--grey2), 22vh 28vh var(--grey2), 23vh 28vh var(--grey2), 24vh 28vh var(--grey2), 25vh 28vh var(--grey2), 26vh 28vh var(--grey2), 27vh 28vh var(--grey2), 28vh 28vh var(--grey2), 29vh 28vh var(--grey2), 30vh 28vh var(--grey2), 31vh 28vh var(--grey2), 32vh 28vh var(--grey2), 33vh 28vh var(--grey2), 34vh 28vh var(--grey2), 35vh 28vh var(--grey2), 36vh 28vh var(--grey2), 37vh 28vh var(--grey2), 38vh 28vh var(--grey2), 39vh 28vh var(--grey2), 40vh 28vh var(--grey2), 41vh 28vh var(--grey2), 42vh 28vh var(--grey2), 43vh 28vh var(--grey2), 44vh 28vh var(--grey2), 45vh 28vh var(--grey2), 46vh 28vh var(--grey2), 47vh 28vh var(--grey2), 48vh 28vh var(--grey2), 49vh 28vh var(--grey2), 50vh 28vh var(--grey2), 51vh 28vh var(--grey2), 52vh 28vh var(--grey2), 53vh 28vh var(--grey2), 2vh 29vh var(--grey2), 3vh 29vh #603d2a, 4vh 29vh #603d2a, 5vh 29vh #603d2a, 6vh 29vh #603d2a, 7vh 29vh #603d2a, 8vh 29vh #603d2a, 9vh 29vh #603d2a, 10vh 29vh #603d2a, 11vh 29vh #603d2a, 12vh 29vh #603d2a, 13vh 29vh #603d2a, 14vh 29vh #603d2a, 15vh 29vh #603d2a, 16vh 29vh #603d2a, 17vh 29vh #603d2a, 18vh 29vh #603d2a, 19vh 29vh #603d2a, 20vh 29vh #603d2a, 21vh 29vh #603d2a, 22vh 29vh #603d2a, 23vh 29vh #603d2a, 24vh 29vh #603d2a, 25vh 29vh #603d2a, 26vh 29vh #603d2a, 27vh 29vh #603d2a, 28vh 29vh #603d2a, 29vh 29vh #603d2a, 30vh 29vh #603d2a, 31vh 29vh #603d2a, 32vh 29vh #603d2a, 33vh 29vh #603d2a, 34vh 29vh #603d2a, 35vh 29vh #603d2a, 36vh 29vh #603d2a, 37vh 29vh #603d2a, 38vh 29vh #603d2a, 39vh 29vh #603d2a, 40vh 29vh #603d2a, 41vh 29vh #603d2a, 42vh 29vh #603d2a, 43vh 29vh #603d2a, 44vh 29vh #603d2a, 45vh 29vh #603d2a, 46vh 29vh #603d2a, 47vh 29vh #603d2a, 48vh 29vh #603d2a, 49vh 29vh #603d2a, 50vh 29vh #603d2a, 51vh 29vh #603d2a, 52vh 29vh #603d2a, 53vh 29vh var(--grey2), 2vh 30vh var(--yellow), 3vh 30vh var(--brick), 4vh 30vh var(--brick), 5vh 30vh var(--brick), 6vh 30vh var(--brick), 7vh 30vh var(--brick), 8vh 30vh var(--brick), 9vh 30vh var(--brick), 10vh 30vh var(--brick), 11vh 30vh var(--brick), 12vh 30vh var(--brick), 13vh 30vh var(--brick), 14vh 30vh var(--brick), 15vh 30vh var(--brick), 16vh 30vh var(--brick), 17vh 30vh var(--brick), 18vh 30vh var(--brick), 19vh 30vh var(--brick), 20vh 30vh var(--brick), 21vh 30vh var(--brick), 22vh 30vh var(--brick), 23vh 30vh var(--brick), 24vh 30vh var(--brick), 25vh 30vh var(--brick), 26vh 30vh var(--brick), 27vh 30vh var(--brick), 28vh 30vh var(--brick), 29vh 30vh var(--brick), 30vh 30vh var(--brick), 31vh 30vh var(--brick), 32vh 30vh var(--brick), 33vh 30vh var(--brick), 34vh 30vh var(--brick), 35vh 30vh var(--brick), 36vh 30vh var(--brick), 37vh 30vh var(--brick), 38vh 30vh var(--brick), 39vh 30vh var(--brick), 40vh 30vh var(--brick), 41vh 30vh var(--brick), 42vh 30vh var(--brick), 43vh 30vh var(--brick), 44vh 30vh var(--brick), 45vh 30vh var(--brick), 46vh 30vh var(--brick), 47vh 30vh var(--brick), 48vh 30vh var(--brick), 49vh 30vh var(--brick), 50vh 30vh var(--brick), 51vh 30vh var(--brick), 52vh 30vh var(--brick), 53vh 30vh var(--yellow), 2vh 31vh var(--yellow), 3vh 31vh var(--beige), 4vh 31vh var(--brick), 5vh 31vh var(--brick), 6vh 31vh var(--beige), 7vh 31vh var(--beige), 8vh 31vh var(--beige), 9vh 31vh var(--beige), 10vh 31vh var(--beige), 11vh 31vh var(--beige), 12vh 31vh var(--brick), 13vh 31vh var(--brick), 14vh 31vh var(--brick), 15vh 31vh var(--beige), 16vh 31vh var(--beige), 17vh 31vh var(--beige), 18vh 31vh var(--beige), 19vh 31vh var(--beige), 20vh 31vh var(--beige), 21vh 31vh var(--brick), 22vh 31vh var(--brick), 23vh 31vh var(--brick), 24vh 31vh var(--brick), 25vh 31vh var(--beige), 26vh 31vh var(--beige), 27vh 31vh var(--beige), 28vh 31vh var(--beige), 29vh 31vh var(--beige), 30vh 31vh var(--beige), 31vh 31vh var(--brick), 32vh 31vh var(--brick), 33vh 31vh var(--brick), 34vh 31vh var(--brick), 35vh 31vh var(--beige), 36vh 31vh var(--beige), 37vh 31vh var(--beige), 38vh 31vh var(--beige), 39vh 31vh var(--beige), 40vh 31vh var(--beige), 41vh 31vh var(--brick), 42vh 31vh var(--brick), 43vh 31vh var(--brick), 44vh 31vh var(--beige), 45vh 31vh var(--beige), 46vh 31vh var(--beige), 47vh 31vh var(--beige), 48vh 31vh var(--beige), 49vh 31vh var(--beige), 50vh 31vh var(--brick), 51vh 31vh var(--brick), 52vh 31vh var(--beige), 53vh 31vh var(--yellow), 2vh 32vh var(--yellow), 3vh 32vh var(--brick), 4vh 32vh var(--brick), 5vh 32vh var(--brick), 6vh 32vh var(--beige), 7vh 32vh var(--brick), 8vh 32vh var(--brick), 9vh 32vh var(--brick), 10vh 32vh var(--brick), 11vh 32vh var(--beige), 12vh 32vh var(--brick), 13vh 32vh var(--brick), 14vh 32vh var(--brick), 15vh 32vh var(--beige), 16vh 32vh var(--brick), 17vh 32vh var(--brick), 18vh 32vh var(--brick), 19vh 32vh var(--brick), 20vh 32vh var(--beige), 21vh 32vh var(--brick), 22vh 32vh var(--brick), 23vh 32vh var(--brick), 24vh 32vh var(--brick), 25vh 32vh var(--beige), 26vh 32vh var(--brick), 27vh 32vh var(--brick), 28vh 32vh var(--brick), 29vh 32vh var(--brick), 30vh 32vh var(--beige), 31vh 32vh var(--brick), 32vh 32vh var(--brick), 33vh 32vh var(--brick), 34vh 32vh var(--brick), 35vh 32vh var(--beige), 36vh 32vh var(--brick), 37vh 32vh var(--brick), 38vh 32vh var(--brick), 39vh 32vh var(--brick), 40vh 32vh var(--beige), 41vh 32vh var(--brick), 42vh 32vh var(--brick), 43vh 32vh var(--brick), 44vh 32vh var(--beige), 45vh 32vh var(--brick), 46vh 32vh var(--brick), 47vh 32vh var(--brick), 48vh 32vh var(--brick), 49vh 32vh var(--beige), 50vh 32vh var(--brick), 51vh 32vh var(--brick), 52vh 32vh var(--brick), 53vh 32vh var(--yellow), 2vh 33vh var(--yellow), 3vh 33vh var(--brick), 4vh 33vh var(--brick), 5vh 33vh var(--brick), 6vh 33vh var(--beige), 7vh 33vh var(--beige), 8vh 33vh var(--beige), 9vh 33vh var(--beige), 10vh 33vh var(--beige), 11vh 33vh var(--beige), 12vh 33vh var(--brick), 13vh 33vh var(--brick), 14vh 33vh var(--brick), 15vh 33vh var(--beige), 16vh 33vh var(--beige), 17vh 33vh var(--beige), 18vh 33vh var(--beige), 19vh 33vh var(--beige), 20vh 33vh var(--beige), 21vh 33vh var(--brick), 22vh 33vh var(--brick), 23vh 33vh var(--brick), 24vh 33vh var(--brick), 25vh 33vh var(--beige), 26vh 33vh var(--beige), 27vh 33vh var(--beige), 28vh 33vh var(--beige), 29vh 33vh var(--beige), 30vh 33vh var(--beige), 31vh 33vh var(--brick), 32vh 33vh var(--brick), 33vh 33vh var(--brick), 34vh 33vh var(--brick), 35vh 33vh var(--beige), 36vh 33vh var(--beige), 37vh 33vh var(--beige), 38vh 33vh var(--beige), 39vh 33vh var(--beige), 40vh 33vh var(--beige), 41vh 33vh var(--brick), 42vh 33vh var(--brick), 43vh 33vh var(--brick), 44vh 33vh var(--beige), 45vh 33vh var(--beige), 46vh 33vh var(--beige), 47vh 33vh var(--beige), 48vh 33vh var(--beige), 49vh 33vh var(--beige), 50vh 33vh var(--brick), 51vh 33vh var(--brick), 52vh 33vh var(--brick), 53vh 33vh var(--yellow), 2vh 34vh var(--yellow), 3vh 34vh var(--beige), 4vh 34vh var(--brick), 5vh 34vh var(--beige), 6vh 34vh var(--beige), 7vh 34vh var(--grey1), 8vh 34vh var(--grey1), 9vh 34vh var(--grey1), 10vh 34vh var(--grey1), 11vh 34vh var(--beige), 12vh 34vh var(--beige), 13vh 34vh var(--brick), 14vh 34vh var(--beige), 15vh 34vh var(--beige), 16vh 34vh var(--grey1), 17vh 34vh var(--grey1), 18vh 34vh var(--grey1), 19vh 34vh var(--grey1), 20vh 34vh var(--beige), 21vh 34vh var(--beige), 22vh 34vh var(--brick), 23vh 34vh var(--brick), 24vh 34vh var(--beige), 25vh 34vh var(--beige), 26vh 34vh var(--grey1), 27vh 34vh var(--grey1), 28vh 34vh var(--grey1), 29vh 34vh var(--grey1), 30vh 34vh var(--beige), 31vh 34vh var(--beige), 32vh 34vh var(--brick), 33vh 34vh var(--brick), 34vh 34vh var(--beige), 35vh 34vh var(--beige), 36vh 34vh var(--grey1), 37vh 34vh var(--grey1), 38vh 34vh var(--grey1), 39vh 34vh var(--grey1), 40vh 34vh var(--beige), 41vh 34vh var(--beige), 42vh 34vh var(--brick), 43vh 34vh var(--beige), 44vh 34vh var(--beige), 45vh 34vh var(--grey1), 46vh 34vh var(--grey1), 47vh 34vh var(--grey1), 48vh 34vh var(--grey1), 49vh 34vh var(--beige), 50vh 34vh var(--beige), 51vh 34vh var(--brick), 52vh 34vh var(--beige), 53vh 34vh var(--yellow), 2vh 35vh var(--yellow), 3vh 35vh var(--brick), 4vh 35vh var(--brick), 5vh 35vh var(--brick), 6vh 35vh var(--beige), 7vh 35vh var(--grey1), 8vh 35vh var(--grey1), 9vh 35vh var(--grey1), 10vh 35vh var(--grey1), 11vh 35vh var(--beige), 12vh 35vh var(--brick), 13vh 35vh var(--brick), 14vh 35vh var(--brick), 15vh 35vh var(--beige), 16vh 35vh var(--grey1), 17vh 35vh var(--grey1), 18vh 35vh var(--grey1), 19vh 35vh var(--grey1), 20vh 35vh var(--beige), 21vh 35vh var(--brick), 22vh 35vh var(--brick), 23vh 35vh var(--brick), 24vh 35vh var(--brick), 25vh 35vh var(--beige), 26vh 35vh var(--grey1), 27vh 35vh var(--grey1), 28vh 35vh var(--grey1), 29vh 35vh var(--grey1), 30vh 35vh var(--beige), 31vh 35vh var(--brick), 32vh 35vh var(--brick), 33vh 35vh var(--brick), 34vh 35vh var(--brick), 35vh 35vh var(--beige), 36vh 35vh var(--grey1), 37vh 35vh var(--grey1), 38vh 35vh var(--grey1), 39vh 35vh var(--grey1), 40vh 35vh var(--beige), 41vh 35vh var(--brick), 42vh 35vh var(--brick), 43vh 35vh var(--brick), 44vh 35vh var(--beige), 45vh 35vh var(--grey1), 46vh 35vh var(--grey1), 47vh 35vh var(--grey1), 48vh 35vh var(--grey1), 49vh 35vh var(--beige), 50vh 35vh var(--brick), 51vh 35vh var(--brick), 52vh 35vh var(--brick), 53vh 35vh var(--yellow), 2vh 36vh var(--yellow), 3vh 36vh var(--brick), 4vh 36vh var(--brick), 5vh 36vh var(--brick), 6vh 36vh var(--beige), 7vh 36vh var(--grey1), 8vh 36vh var(--grey1), 9vh 36vh var(--grey1), 10vh 36vh var(--grey1), 11vh 36vh var(--beige), 12vh 36vh var(--brick), 13vh 36vh var(--brick), 14vh 36vh var(--brick), 15vh 36vh var(--beige), 16vh 36vh var(--grey1), 17vh 36vh var(--grey1), 18vh 36vh var(--grey1), 19vh 36vh var(--grey1), 20vh 36vh var(--beige), 21vh 36vh var(--brick), 22vh 36vh var(--brick), 23vh 36vh var(--brick), 24vh 36vh var(--brick), 25vh 36vh var(--beige), 26vh 36vh var(--grey1), 27vh 36vh var(--grey1), 28vh 36vh var(--grey1), 29vh 36vh var(--grey1), 30vh 36vh var(--beige), 31vh 36vh var(--brick), 32vh 36vh var(--brick), 33vh 36vh var(--brick), 34vh 36vh var(--brick), 35vh 36vh var(--beige), 36vh 36vh var(--grey1), 37vh 36vh var(--grey1), 38vh 36vh var(--grey1), 39vh 36vh var(--grey1), 40vh 36vh var(--beige), 41vh 36vh var(--brick), 42vh 36vh var(--brick), 43vh 36vh var(--brick), 44vh 36vh var(--beige), 45vh 36vh var(--grey1), 46vh 36vh var(--grey1), 47vh 36vh var(--grey1), 48vh 36vh var(--grey1), 49vh 36vh var(--beige), 50vh 36vh var(--brick), 51vh 36vh var(--brick), 52vh 36vh var(--brick), 53vh 36vh var(--yellow), 2vh 37vh var(--yellow), 3vh 37vh var(--beige), 4vh 37vh var(--brick), 5vh 37vh var(--beige), 6vh 37vh var(--beige), 7vh 37vh var(--grey1), 8vh 37vh var(--grey1), 9vh 37vh var(--grey1), 10vh 37vh var(--grey1), 11vh 37vh var(--beige), 12vh 37vh var(--beige), 13vh 37vh var(--brick), 14vh 37vh var(--beige), 15vh 37vh var(--beige), 16vh 37vh var(--grey1), 17vh 37vh var(--grey1), 18vh 37vh var(--grey1), 19vh 37vh var(--grey1), 20vh 37vh var(--beige), 21vh 37vh var(--beige), 22vh 37vh var(--brick), 23vh 37vh var(--brick), 24vh 37vh var(--beige), 25vh 37vh var(--beige), 26vh 37vh var(--grey1), 27vh 37vh var(--grey1), 28vh 37vh var(--grey1), 29vh 37vh var(--grey1), 30vh 37vh var(--beige), 31vh 37vh var(--beige), 32vh 37vh var(--brick), 33vh 37vh var(--brick), 34vh 37vh var(--beige), 35vh 37vh var(--beige), 36vh 37vh var(--grey1), 37vh 37vh var(--grey1), 38vh 37vh var(--grey1), 39vh 37vh var(--grey1), 40vh 37vh var(--beige), 41vh 37vh var(--beige), 42vh 37vh var(--brick), 43vh 37vh var(--beige), 44vh 37vh var(--beige), 45vh 37vh var(--grey1), 46vh 37vh var(--grey1), 47vh 37vh var(--grey1), 48vh 37vh var(--grey1), 49vh 37vh var(--beige), 50vh 37vh var(--beige), 51vh 37vh var(--brick), 52vh 37vh var(--beige), 53vh 37vh var(--yellow), 2vh 38vh var(--yellow), 3vh 38vh var(--brick), 4vh 38vh var(--brick), 5vh 38vh var(--brick), 6vh 38vh var(--beige), 7vh 38vh var(--grey1), 8vh 38vh var(--grey1), 9vh 38vh var(--grey1), 10vh 38vh var(--grey1), 11vh 38vh var(--beige), 12vh 38vh var(--brick), 13vh 38vh var(--brick), 14vh 38vh var(--brick), 15vh 38vh var(--beige), 16vh 38vh var(--grey1), 17vh 38vh var(--grey1), 18vh 38vh var(--grey1), 19vh 38vh var(--grey1), 20vh 38vh var(--beige), 21vh 38vh var(--brick), 22vh 38vh var(--brick), 23vh 38vh var(--brick), 24vh 38vh var(--brick), 25vh 38vh var(--beige), 26vh 38vh var(--grey1), 27vh 38vh var(--grey1), 28vh 38vh var(--grey1), 29vh 38vh var(--grey1), 30vh 38vh var(--beige), 31vh 38vh var(--brick), 32vh 38vh var(--brick), 33vh 38vh var(--brick), 34vh 38vh var(--brick), 35vh 38vh var(--beige), 36vh 38vh var(--grey1), 37vh 38vh var(--grey1), 38vh 38vh var(--grey1), 39vh 38vh var(--grey1), 40vh 38vh var(--beige), 41vh 38vh var(--brick), 42vh 38vh var(--brick), 43vh 38vh var(--brick), 44vh 38vh var(--beige), 45vh 38vh var(--grey1), 46vh 38vh var(--grey1), 47vh 38vh var(--grey1), 48vh 38vh var(--grey1), 49vh 38vh var(--beige), 50vh 38vh var(--brick), 51vh 38vh var(--brick), 52vh 38vh var(--brick), 53vh 38vh var(--yellow), 2vh 39vh var(--yellow), 3vh 39vh var(--brick), 4vh 39vh var(--brick), 5vh 39vh var(--brick), 6vh 39vh var(--beige), 7vh 39vh var(--grey1), 8vh 39vh var(--grey1), 9vh 39vh var(--grey1), 10vh 39vh var(--grey1), 11vh 39vh var(--beige), 12vh 39vh var(--brick), 13vh 39vh var(--brick), 14vh 39vh var(--brick), 15vh 39vh var(--beige), 16vh 39vh var(--grey1), 17vh 39vh var(--grey1), 18vh 39vh var(--grey1), 19vh 39vh var(--grey1), 20vh 39vh var(--beige), 21vh 39vh var(--brick), 22vh 39vh var(--brick), 23vh 39vh var(--brick), 24vh 39vh var(--brick), 25vh 39vh var(--beige), 26vh 39vh var(--grey1), 27vh 39vh var(--grey1), 28vh 39vh var(--grey1), 29vh 39vh var(--grey1), 30vh 39vh var(--beige), 31vh 39vh var(--brick), 32vh 39vh var(--brick), 33vh 39vh var(--brick), 34vh 39vh var(--brick), 35vh 39vh var(--beige), 36vh 39vh var(--grey1), 37vh 39vh var(--grey1), 38vh 39vh var(--grey1), 39vh 39vh var(--grey1), 40vh 39vh var(--beige), 41vh 39vh var(--brick), 42vh 39vh var(--brick), 43vh 39vh var(--brick), 44vh 39vh var(--beige), 45vh 39vh var(--grey1), 46vh 39vh var(--grey1), 47vh 39vh var(--grey1), 48vh 39vh var(--grey1), 49vh 39vh var(--beige), 50vh 39vh var(--brick), 51vh 39vh var(--brick), 52vh 39vh var(--brick), 53vh 39vh var(--yellow), 2vh 40vh var(--yellow), 3vh 40vh var(--beige), 4vh 40vh var(--brick), 5vh 40vh var(--beige), 6vh 40vh var(--beige), 7vh 40vh var(--grey1), 8vh 40vh var(--grey1), 9vh 40vh var(--grey1), 10vh 40vh var(--grey1), 11vh 40vh var(--beige), 12vh 40vh var(--beige), 13vh 40vh var(--brick), 14vh 40vh var(--beige), 15vh 40vh var(--beige), 16vh 40vh var(--grey1), 17vh 40vh var(--grey1), 18vh 40vh var(--grey1), 19vh 40vh var(--grey1), 20vh 40vh var(--beige), 21vh 40vh var(--beige), 22vh 40vh var(--brick), 23vh 40vh var(--brick), 24vh 40vh var(--beige), 25vh 40vh var(--beige), 26vh 40vh var(--grey1), 27vh 40vh var(--grey1), 28vh 40vh var(--grey1), 29vh 40vh var(--grey1), 30vh 40vh var(--beige), 31vh 40vh var(--beige), 32vh 40vh var(--brick), 33vh 40vh var(--brick), 34vh 40vh var(--beige), 35vh 40vh var(--beige), 36vh 40vh var(--grey1), 37vh 40vh var(--grey1), 38vh 40vh var(--grey1), 39vh 40vh var(--grey1), 40vh 40vh var(--beige), 41vh 40vh var(--beige), 42vh 40vh var(--brick), 43vh 40vh var(--beige), 44vh 40vh var(--beige), 45vh 40vh var(--grey1), 46vh 40vh var(--grey1), 47vh 40vh var(--grey1), 48vh 40vh var(--grey1), 49vh 40vh var(--beige), 50vh 40vh var(--beige), 51vh 40vh var(--brick), 52vh 40vh var(--beige), 53vh 40vh var(--yellow), 2vh 41vh var(--yellow), 3vh 41vh var(--brick), 4vh 41vh var(--brick), 5vh 41vh var(--brick), 6vh 41vh var(--beige), 7vh 41vh var(--grey1), 8vh 41vh var(--grey1), 9vh 41vh var(--grey1), 10vh 41vh var(--grey1), 11vh 41vh var(--beige), 12vh 41vh var(--brick), 13vh 41vh var(--brick), 14vh 41vh var(--brick), 15vh 41vh var(--beige), 16vh 41vh var(--grey1), 17vh 41vh var(--grey1), 18vh 41vh var(--grey1), 19vh 41vh var(--grey1), 20vh 41vh var(--beige), 21vh 41vh var(--brick), 22vh 41vh var(--brick), 23vh 41vh var(--brick), 24vh 41vh var(--brick), 25vh 41vh var(--beige), 26vh 41vh var(--grey1), 27vh 41vh var(--grey1), 28vh 41vh var(--grey1), 29vh 41vh var(--grey1), 30vh 41vh var(--beige), 31vh 41vh var(--brick), 32vh 41vh var(--brick), 33vh 41vh var(--brick), 34vh 41vh var(--brick), 35vh 41vh var(--beige), 36vh 41vh var(--grey1), 37vh 41vh var(--grey1), 38vh 41vh var(--grey1), 39vh 41vh var(--grey1), 40vh 41vh var(--beige), 41vh 41vh var(--brick), 42vh 41vh var(--brick), 43vh 41vh var(--brick), 44vh 41vh var(--beige), 45vh 41vh var(--grey1), 46vh 41vh var(--grey1), 47vh 41vh var(--grey1), 48vh 41vh var(--grey1), 49vh 41vh var(--beige), 50vh 41vh var(--brick), 51vh 41vh var(--brick), 52vh 41vh var(--brick), 53vh 41vh var(--yellow), 2vh 42vh var(--yellow), 3vh 42vh var(--brick), 4vh 42vh var(--brick), 5vh 42vh var(--brick), 6vh 42vh var(--beige), 7vh 42vh var(--beige), 8vh 42vh var(--beige), 9vh 42vh var(--beige), 10vh 42vh var(--beige), 11vh 42vh var(--beige), 12vh 42vh var(--brick), 13vh 42vh var(--brick), 14vh 42vh var(--brick), 15vh 42vh var(--beige), 16vh 42vh var(--beige), 17vh 42vh var(--beige), 18vh 42vh var(--beige), 19vh 42vh var(--beige), 20vh 42vh var(--beige), 21vh 42vh var(--brick), 22vh 42vh var(--brick), 23vh 42vh var(--brick), 24vh 42vh var(--brick), 25vh 42vh var(--beige), 26vh 42vh var(--beige), 27vh 42vh var(--beige), 28vh 42vh var(--beige), 29vh 42vh var(--beige), 30vh 42vh var(--beige), 31vh 42vh var(--brick), 32vh 42vh var(--brick), 33vh 42vh var(--brick), 34vh 42vh var(--brick), 35vh 42vh var(--beige), 36vh 42vh var(--beige), 37vh 42vh var(--beige), 38vh 42vh var(--beige), 39vh 42vh var(--beige), 40vh 42vh var(--beige), 41vh 42vh var(--brick), 42vh 42vh var(--brick), 43vh 42vh var(--brick), 44vh 42vh var(--beige), 45vh 42vh var(--beige), 46vh 42vh var(--beige), 47vh 42vh var(--beige), 48vh 42vh var(--beige), 49vh 42vh var(--beige), 50vh 42vh var(--brick), 51vh 42vh var(--brick), 52vh 42vh var(--brick), 53vh 42vh var(--yellow), 2vh 43vh var(--yellow), 3vh 43vh var(--beige), 4vh 43vh var(--brick), 5vh 43vh var(--beige), 6vh 43vh var(--beige), 7vh 43vh var(--brick), 8vh 43vh var(--brick), 9vh 43vh var(--brick), 10vh 43vh var(--brick), 11vh 43vh var(--beige), 12vh 43vh var(--beige), 13vh 43vh var(--brick), 14vh 43vh var(--beige), 15vh 43vh var(--beige), 16vh 43vh var(--brick), 17vh 43vh var(--brick), 18vh 43vh var(--brick), 19vh 43vh var(--brick), 20vh 43vh var(--beige), 21vh 43vh var(--beige), 22vh 43vh var(--brick), 23vh 43vh var(--brick), 24vh 43vh var(--beige), 25vh 43vh var(--beige), 26vh 43vh var(--brick), 27vh 43vh var(--brick), 28vh 43vh var(--brick), 29vh 43vh var(--brick), 30vh 43vh var(--beige), 31vh 43vh var(--beige), 32vh 43vh var(--brick), 33vh 43vh var(--brick), 34vh 43vh var(--beige), 35vh 43vh var(--beige), 36vh 43vh var(--brick), 37vh 43vh var(--brick), 38vh 43vh var(--brick), 39vh 43vh var(--brick), 40vh 43vh var(--beige), 41vh 43vh var(--beige), 42vh 43vh var(--brick), 43vh 43vh var(--beige), 44vh 43vh var(--beige), 45vh 43vh var(--brick), 46vh 43vh var(--brick), 47vh 43vh var(--brick), 48vh 43vh var(--brick), 49vh 43vh var(--beige), 50vh 43vh var(--beige), 51vh 43vh var(--brick), 52vh 43vh var(--beige), 53vh 43vh var(--yellow), 2vh 44vh var(--yellow), 3vh 44vh var(--brick), 4vh 44vh var(--brick), 5vh 44vh var(--brick), 6vh 44vh var(--beige), 7vh 44vh var(--brick), 8vh 44vh var(--brick), 9vh 44vh var(--brick), 10vh 44vh var(--brick), 11vh 44vh var(--beige), 12vh 44vh var(--brick), 13vh 44vh var(--brick), 14vh 44vh var(--brick), 15vh 44vh var(--beige), 16vh 44vh var(--brick), 17vh 44vh var(--brick), 18vh 44vh var(--brick), 19vh 44vh var(--brick), 20vh 44vh var(--beige), 21vh 44vh var(--brick), 22vh 44vh var(--brick), 23vh 44vh var(--brick), 24vh 44vh var(--brick), 25vh 44vh var(--beige), 26vh 44vh var(--brick), 27vh 44vh var(--brick), 28vh 44vh var(--brick), 29vh 44vh var(--brick), 30vh 44vh var(--beige), 31vh 44vh var(--brick), 32vh 44vh var(--brick), 33vh 44vh var(--brick), 34vh 44vh var(--brick), 35vh 44vh var(--beige), 36vh 44vh var(--brick), 37vh 44vh var(--brick), 38vh 44vh var(--brick), 39vh 44vh var(--brick), 40vh 44vh var(--beige), 41vh 44vh var(--brick), 42vh 44vh var(--brick), 43vh 44vh var(--brick), 44vh 44vh var(--beige), 45vh 44vh var(--brick), 46vh 44vh var(--brick), 47vh 44vh var(--brick), 48vh 44vh var(--brick), 49vh 44vh var(--beige), 50vh 44vh var(--brick), 51vh 44vh var(--brick), 52vh 44vh var(--brick), 53vh 44vh var(--yellow), 2vh 45vh var(--yellow), 3vh 45vh var(--beige), 4vh 45vh var(--beige), 5vh 45vh var(--beige), 6vh 45vh var(--beige), 7vh 45vh var(--beige), 8vh 45vh var(--beige), 9vh 45vh var(--beige), 10vh 45vh var(--beige), 11vh 45vh var(--beige), 12vh 45vh var(--beige), 13vh 45vh var(--beige), 14vh 45vh var(--beige), 15vh 45vh var(--beige), 16vh 45vh var(--beige), 17vh 45vh var(--beige), 18vh 45vh var(--beige), 19vh 45vh var(--beige), 20vh 45vh var(--beige), 21vh 45vh var(--beige), 22vh 45vh var(--beige), 23vh 45vh var(--beige), 24vh 45vh var(--beige), 25vh 45vh var(--beige), 26vh 45vh var(--beige), 27vh 45vh var(--beige), 28vh 45vh var(--beige), 29vh 45vh var(--beige), 30vh 45vh var(--beige), 31vh 45vh var(--beige), 32vh 45vh var(--beige), 33vh 45vh var(--beige), 34vh 45vh var(--beige), 35vh 45vh var(--beige), 36vh 45vh var(--beige), 37vh 45vh var(--beige), 38vh 45vh var(--beige), 39vh 45vh var(--beige), 40vh 45vh var(--beige), 41vh 45vh var(--beige), 42vh 45vh var(--beige), 43vh 45vh var(--beige), 44vh 45vh var(--beige), 45vh 45vh var(--beige), 46vh 45vh var(--beige), 47vh 45vh var(--beige), 48vh 45vh var(--beige), 49vh 45vh var(--beige), 50vh 45vh var(--beige), 51vh 45vh var(--beige), 52vh 45vh var(--beige), 53vh 45vh var(--yellow), 2vh 46vh var(--yellow), 3vh 46vh var(--brick), 4vh 46vh var(--brick), 5vh 46vh var(--brick), 6vh 46vh var(--brick), 7vh 46vh var(--brick), 8vh 46vh var(--brick), 9vh 46vh var(--brick), 10vh 46vh var(--brick), 11vh 46vh var(--brick), 12vh 46vh var(--brick), 13vh 46vh var(--brick), 14vh 46vh var(--brick), 15vh 46vh var(--brick), 16vh 46vh var(--brick), 17vh 46vh var(--brick), 18vh 46vh var(--brick), 19vh 46vh var(--brick), 20vh 46vh var(--brick), 21vh 46vh var(--brick), 22vh 46vh var(--brick), 23vh 46vh var(--brick), 24vh 46vh var(--brick), 25vh 46vh var(--brick), 26vh 46vh var(--brick), 27vh 46vh var(--brick), 28vh 46vh var(--brick), 29vh 46vh var(--brick), 30vh 46vh var(--brick), 31vh 46vh var(--brick), 32vh 46vh var(--brick), 33vh 46vh var(--brick), 34vh 46vh var(--brick), 35vh 46vh var(--brick), 36vh 46vh var(--brick), 37vh 46vh var(--brick), 38vh 46vh var(--brick), 39vh 46vh var(--brick), 40vh 46vh var(--brick), 41vh 46vh var(--brick), 42vh 46vh var(--brick), 43vh 46vh var(--brick), 44vh 46vh var(--brick), 45vh 46vh var(--brick), 46vh 46vh var(--brick), 47vh 46vh var(--brick), 48vh 46vh var(--brick), 49vh 46vh var(--brick), 50vh 46vh var(--brick), 51vh 46vh var(--brick), 52vh 46vh var(--brick), 53vh 46vh var(--yellow), 2vh 47vh var(--yellow), 3vh 47vh var(--brick), 4vh 47vh var(--brick), 5vh 47vh var(--brick), 6vh 47vh var(--brick), 7vh 47vh var(--brick), 8vh 47vh var(--beige), 9vh 47vh var(--beige), 10vh 47vh var(--brick), 11vh 47vh var(--brick), 12vh 47vh var(--brick), 13vh 47vh var(--brick), 14vh 47vh var(--brick), 15vh 47vh var(--brick), 16vh 47vh var(--brick), 17vh 47vh var(--beige), 18vh 47vh var(--beige), 19vh 47vh var(--brick), 20vh 47vh var(--brick), 21vh 47vh var(--brick), 22vh 47vh var(--brick), 23vh 47vh var(--brick), 24vh 47vh var(--brick), 25vh 47vh var(--brick), 26vh 47vh var(--brick), 27vh 47vh var(--beige), 28vh 47vh var(--beige), 29vh 47vh var(--brick), 30vh 47vh var(--brick), 31vh 47vh var(--brick), 32vh 47vh var(--brick), 33vh 47vh var(--brick), 34vh 47vh var(--brick), 35vh 47vh var(--brick), 36vh 47vh var(--brick), 37vh 47vh var(--beige), 38vh 47vh var(--beige), 39vh 47vh var(--brick), 40vh 47vh var(--brick), 41vh 47vh var(--brick), 42vh 47vh var(--brick), 43vh 47vh var(--brick), 44vh 47vh var(--brick), 45vh 47vh var(--brick), 46vh 47vh var(--beige), 47vh 47vh var(--beige), 48vh 47vh var(--brick), 49vh 47vh var(--brick), 50vh 47vh var(--brick), 51vh 47vh var(--brick), 52vh 47vh var(--brick), 53vh 47vh var(--yellow), 2vh 48vh var(--yellow), 3vh 48vh var(--beige), 4vh 48vh var(--brick), 5vh 48vh var(--brick), 6vh 48vh var(--beige), 7vh 48vh var(--beige), 8vh 48vh var(--beige), 9vh 48vh var(--beige), 10vh 48vh var(--beige), 11vh 48vh var(--beige), 12vh 48vh var(--brick), 13vh 48vh var(--brick), 14vh 48vh var(--brick), 15vh 48vh var(--beige), 16vh 48vh var(--beige), 17vh 48vh var(--beige), 18vh 48vh var(--beige), 19vh 48vh var(--beige), 20vh 48vh var(--beige), 21vh 48vh var(--brick), 22vh 48vh var(--brick), 23vh 48vh var(--brick), 24vh 48vh var(--brick), 25vh 48vh var(--beige), 26vh 48vh var(--beige), 27vh 48vh var(--beige), 28vh 48vh var(--beige), 29vh 48vh var(--beige), 30vh 48vh var(--beige), 31vh 48vh var(--brick), 32vh 48vh var(--brick), 33vh 48vh var(--brick), 34vh 48vh var(--brick), 35vh 48vh var(--beige), 36vh 48vh var(--beige), 37vh 48vh var(--beige), 38vh 48vh var(--beige), 39vh 48vh var(--beige), 40vh 48vh var(--beige), 41vh 48vh var(--brick), 42vh 48vh var(--brick), 43vh 48vh var(--brick), 44vh 48vh var(--beige), 45vh 48vh var(--beige), 46vh 48vh var(--beige), 47vh 48vh var(--beige), 48vh 48vh var(--beige), 49vh 48vh var(--beige), 50vh 48vh var(--brick), 51vh 48vh var(--brick), 52vh 48vh var(--beige), 53vh 48vh var(--yellow), 2vh 49vh var(--yellow), 3vh 49vh var(--brick), 4vh 49vh var(--brick), 5vh 49vh var(--brick), 6vh 49vh var(--beige), 7vh 49vh var(--grey1), 8vh 49vh var(--grey1), 9vh 49vh var(--grey1), 10vh 49vh var(--grey1), 11vh 49vh var(--beige), 12vh 49vh var(--brick), 13vh 49vh var(--brick), 14vh 49vh var(--brick), 15vh 49vh var(--beige), 16vh 49vh var(--grey1), 17vh 49vh var(--grey1), 18vh 49vh var(--grey1), 19vh 49vh var(--grey1), 20vh 49vh var(--beige), 21vh 49vh var(--brick), 22vh 49vh var(--brick), 23vh 49vh var(--brick), 24vh 49vh var(--brick), 25vh 49vh var(--beige), 26vh 49vh var(--grey1), 27vh 49vh var(--grey1), 28vh 49vh var(--grey1), 29vh 49vh var(--grey1), 30vh 49vh var(--beige), 31vh 49vh var(--brick), 32vh 49vh var(--brick), 33vh 49vh var(--brick), 34vh 49vh var(--brick), 35vh 49vh var(--beige), 36vh 49vh var(--grey1), 37vh 49vh var(--grey1), 38vh 49vh var(--grey1), 39vh 49vh var(--grey1), 40vh 49vh var(--beige), 41vh 49vh var(--brick), 42vh 49vh var(--brick), 43vh 49vh var(--brick), 44vh 49vh var(--beige), 45vh 49vh var(--grey1), 46vh 49vh var(--grey1), 47vh 49vh var(--grey1), 48vh 49vh var(--grey1), 49vh 49vh var(--beige), 50vh 49vh var(--brick), 51vh 49vh var(--brick), 52vh 49vh var(--brick), 53vh 49vh var(--yellow), 2vh 50vh var(--yellow), 3vh 50vh var(--brick), 4vh 50vh var(--brick), 5vh 50vh var(--brick), 6vh 50vh var(--beige), 7vh 50vh var(--grey1), 8vh 50vh var(--grey1), 9vh 50vh var(--grey1), 10vh 50vh var(--grey1), 11vh 50vh var(--beige), 12vh 50vh var(--brick), 13vh 50vh var(--brick), 14vh 50vh var(--brick), 15vh 50vh var(--beige), 16vh 50vh var(--grey1), 17vh 50vh var(--grey1), 18vh 50vh var(--grey1), 19vh 50vh var(--grey1), 20vh 50vh var(--beige), 21vh 50vh var(--brick), 22vh 50vh var(--brick), 23vh 50vh var(--brick), 24vh 50vh var(--brick), 25vh 50vh var(--beige), 26vh 50vh var(--grey1), 27vh 50vh var(--grey1), 28vh 50vh var(--grey1), 29vh 50vh var(--grey1), 30vh 50vh var(--beige), 31vh 50vh var(--brick), 32vh 50vh var(--brick), 33vh 50vh var(--brick), 34vh 50vh var(--brick), 35vh 50vh var(--beige), 36vh 50vh var(--grey1), 37vh 50vh var(--grey1), 38vh 50vh var(--grey1), 39vh 50vh var(--grey1), 40vh 50vh var(--beige), 41vh 50vh var(--brick), 42vh 50vh var(--brick), 43vh 50vh var(--brick), 44vh 50vh var(--beige), 45vh 50vh var(--grey1), 46vh 50vh var(--grey1), 47vh 50vh var(--grey1), 48vh 50vh var(--grey1), 49vh 50vh var(--beige), 50vh 50vh var(--brick), 51vh 50vh var(--brick), 52vh 50vh var(--brick), 53vh 50vh var(--yellow), 2vh 51vh var(--yellow), 3vh 51vh var(--beige), 4vh 51vh var(--brick), 5vh 51vh var(--beige), 6vh 51vh var(--beige), 7vh 51vh var(--grey1), 8vh 51vh var(--grey1), 9vh 51vh var(--grey1), 10vh 51vh var(--grey1), 11vh 51vh var(--beige), 12vh 51vh var(--beige), 13vh 51vh var(--brick), 14vh 51vh var(--beige), 15vh 51vh var(--beige), 16vh 51vh var(--grey1), 17vh 51vh var(--grey1), 18vh 51vh var(--grey1), 19vh 51vh var(--grey1), 20vh 51vh var(--beige), 21vh 51vh var(--beige), 22vh 51vh var(--brick), 23vh 51vh var(--brick), 24vh 51vh var(--beige), 25vh 51vh var(--beige), 26vh 51vh var(--grey1), 27vh 51vh var(--grey1), 28vh 51vh var(--grey1), 29vh 51vh var(--grey1), 30vh 51vh var(--beige), 31vh 51vh var(--beige), 32vh 51vh var(--brick), 33vh 51vh var(--brick), 34vh 51vh var(--beige), 35vh 51vh var(--beige), 36vh 51vh var(--grey1), 37vh 51vh var(--grey1), 38vh 51vh var(--grey1), 39vh 51vh var(--grey1), 40vh 51vh var(--beige), 41vh 51vh var(--beige), 42vh 51vh var(--brick), 43vh 51vh var(--beige), 44vh 51vh var(--beige), 45vh 51vh var(--grey1), 46vh 51vh var(--grey1), 47vh 51vh var(--grey1), 48vh 51vh var(--grey1), 49vh 51vh var(--beige), 50vh 51vh var(--beige), 51vh 51vh var(--brick), 52vh 51vh var(--beige), 53vh 51vh var(--yellow), 2vh 52vh var(--yellow), 3vh 52vh var(--brick), 4vh 52vh var(--brick), 5vh 52vh var(--brick), 6vh 52vh var(--beige), 7vh 52vh var(--grey1), 8vh 52vh var(--grey1), 9vh 52vh var(--grey1), 10vh 52vh var(--grey1), 11vh 52vh var(--beige), 12vh 52vh var(--brick), 13vh 52vh var(--brick), 14vh 52vh var(--brick), 15vh 52vh var(--beige), 16vh 52vh var(--grey1), 17vh 52vh var(--grey1), 18vh 52vh var(--grey1), 19vh 52vh var(--grey1), 20vh 52vh var(--beige), 21vh 52vh var(--brick), 22vh 52vh var(--brick), 23vh 52vh var(--brick), 24vh 52vh var(--brick), 25vh 52vh var(--beige), 26vh 52vh var(--grey1), 27vh 52vh var(--grey1), 28vh 52vh var(--grey1), 29vh 52vh var(--grey1), 30vh 52vh var(--beige), 31vh 52vh var(--brick), 32vh 52vh var(--brick), 33vh 52vh var(--brick), 34vh 52vh var(--brick), 35vh 52vh var(--beige), 36vh 52vh var(--grey1), 37vh 52vh var(--grey1), 38vh 52vh var(--grey1), 39vh 52vh var(--grey1), 40vh 52vh var(--beige), 41vh 52vh var(--brick), 42vh 52vh var(--brick), 43vh 52vh var(--brick), 44vh 52vh var(--beige), 45vh 52vh var(--grey1), 46vh 52vh var(--grey1), 47vh 52vh var(--grey1), 48vh 52vh var(--grey1), 49vh 52vh var(--beige), 50vh 52vh var(--brick), 51vh 52vh var(--brick), 52vh 52vh var(--brick), 53vh 52vh var(--yellow), 2vh 53vh var(--yellow), 3vh 53vh var(--brick), 4vh 53vh var(--brick), 5vh 53vh var(--brick), 6vh 53vh var(--beige), 7vh 53vh var(--grey1), 8vh 53vh var(--grey1), 9vh 53vh var(--grey1), 10vh 53vh var(--grey1), 11vh 53vh var(--beige), 12vh 53vh var(--brick), 13vh 53vh var(--brick), 14vh 53vh var(--brick), 15vh 53vh var(--beige), 16vh 53vh var(--grey1), 17vh 53vh var(--grey1), 18vh 53vh var(--grey1), 19vh 53vh var(--grey1), 20vh 53vh var(--beige), 21vh 53vh var(--brick), 22vh 53vh var(--brick), 23vh 53vh var(--brick), 24vh 53vh var(--brick), 25vh 53vh var(--beige), 26vh 53vh var(--grey1), 27vh 53vh var(--grey1), 28vh 53vh var(--grey1), 29vh 53vh var(--grey1), 30vh 53vh var(--beige), 31vh 53vh var(--brick), 32vh 53vh var(--brick), 33vh 53vh var(--brick), 34vh 53vh var(--brick), 35vh 53vh var(--beige), 36vh 53vh var(--grey1), 37vh 53vh var(--grey1), 38vh 53vh var(--grey1), 39vh 53vh var(--grey1), 40vh 53vh var(--beige), 41vh 53vh var(--brick), 42vh 53vh var(--brick), 43vh 53vh var(--brick), 44vh 53vh var(--beige), 45vh 53vh var(--grey1), 46vh 53vh var(--grey1), 47vh 53vh var(--grey1), 48vh 53vh var(--grey1), 49vh 53vh var(--beige), 50vh 53vh var(--brick), 51vh 53vh var(--brick), 52vh 53vh var(--brick), 53vh 53vh var(--yellow), 2vh 54vh var(--yellow), 3vh 54vh var(--beige), 4vh 54vh var(--brick), 5vh 54vh var(--beige), 6vh 54vh var(--beige), 7vh 54vh var(--grey1), 8vh 54vh var(--grey1), 9vh 54vh var(--grey1), 10vh 54vh var(--grey1), 11vh 54vh var(--beige), 12vh 54vh var(--beige), 13vh 54vh var(--brick), 14vh 54vh var(--beige), 15vh 54vh var(--beige), 16vh 54vh var(--grey1), 17vh 54vh var(--grey1), 18vh 54vh var(--grey1), 19vh 54vh var(--grey1), 20vh 54vh var(--beige), 21vh 54vh var(--beige), 22vh 54vh var(--brick), 23vh 54vh var(--brick), 24vh 54vh var(--beige), 25vh 54vh var(--beige), 26vh 54vh var(--grey1), 27vh 54vh var(--grey1), 28vh 54vh var(--grey1), 29vh 54vh var(--grey1), 30vh 54vh var(--beige), 31vh 54vh var(--beige), 32vh 54vh var(--brick), 33vh 54vh var(--brick), 34vh 54vh var(--beige), 35vh 54vh var(--beige), 36vh 54vh var(--grey1), 37vh 54vh var(--grey1), 38vh 54vh var(--grey1), 39vh 54vh var(--grey1), 40vh 54vh var(--beige), 41vh 54vh var(--beige), 42vh 54vh var(--brick), 43vh 54vh var(--beige), 44vh 54vh var(--beige), 45vh 54vh var(--grey1), 46vh 54vh var(--grey1), 47vh 54vh var(--grey1), 48vh 54vh var(--grey1), 49vh 54vh var(--beige), 50vh 54vh var(--beige), 51vh 54vh var(--brick), 52vh 54vh var(--beige), 53vh 54vh var(--yellow), 2vh 55vh var(--yellow), 3vh 55vh var(--brick), 4vh 55vh var(--brick), 5vh 55vh var(--brick), 6vh 55vh var(--beige), 7vh 55vh var(--grey1), 8vh 55vh var(--grey1), 9vh 55vh var(--grey1), 10vh 55vh var(--grey1), 11vh 55vh var(--beige), 12vh 55vh var(--brick), 13vh 55vh var(--brick), 14vh 55vh var(--brick), 15vh 55vh var(--beige), 16vh 55vh var(--grey1), 17vh 55vh var(--grey1), 18vh 55vh var(--grey1), 19vh 55vh var(--grey1), 20vh 55vh var(--beige), 21vh 55vh var(--brick), 22vh 55vh var(--brick), 23vh 55vh var(--brick), 24vh 55vh var(--brick), 25vh 55vh var(--beige), 26vh 55vh var(--grey1), 27vh 55vh var(--grey1), 28vh 55vh var(--grey1), 29vh 55vh var(--grey1), 30vh 55vh var(--beige), 31vh 55vh var(--brick), 32vh 55vh var(--brick), 33vh 55vh var(--brick), 34vh 55vh var(--brick), 35vh 55vh var(--beige), 36vh 55vh var(--grey1), 37vh 55vh var(--grey1), 38vh 55vh var(--grey1), 39vh 55vh var(--grey1), 40vh 55vh var(--beige), 41vh 55vh var(--brick), 42vh 55vh var(--brick), 43vh 55vh var(--brick), 44vh 55vh var(--beige), 45vh 55vh var(--grey1), 46vh 55vh var(--grey1), 47vh 55vh var(--grey1), 48vh 55vh var(--grey1), 49vh 55vh var(--beige), 50vh 55vh var(--brick), 51vh 55vh var(--brick), 52vh 55vh var(--brick), 53vh 55vh var(--yellow), 2vh 56vh var(--yellow), 3vh 56vh var(--brick), 4vh 56vh var(--brick), 5vh 56vh var(--brick), 6vh 56vh var(--beige), 7vh 56vh var(--grey1), 8vh 56vh var(--grey1), 9vh 56vh var(--grey1), 10vh 56vh var(--grey1), 11vh 56vh var(--beige), 12vh 56vh var(--brick), 13vh 56vh var(--brick), 14vh 56vh var(--brick), 15vh 56vh var(--beige), 16vh 56vh var(--grey1), 17vh 56vh var(--grey1), 18vh 56vh var(--grey1), 19vh 56vh var(--grey1), 20vh 56vh var(--beige), 21vh 56vh var(--brick), 22vh 56vh var(--brick), 23vh 56vh var(--brick), 24vh 56vh var(--brick), 25vh 56vh var(--beige), 26vh 56vh var(--grey1), 27vh 56vh var(--grey1), 28vh 56vh var(--grey1), 29vh 56vh var(--grey1), 30vh 56vh var(--beige), 31vh 56vh var(--brick), 32vh 56vh var(--brick), 33vh 56vh var(--brick), 34vh 56vh var(--brick), 35vh 56vh var(--beige), 36vh 56vh var(--grey1), 37vh 56vh var(--grey1), 38vh 56vh var(--grey1), 39vh 56vh var(--grey1), 40vh 56vh var(--beige), 41vh 56vh var(--brick), 42vh 56vh var(--brick), 43vh 56vh var(--brick), 44vh 56vh var(--beige), 45vh 56vh var(--grey1), 46vh 56vh var(--grey1), 47vh 56vh var(--grey1), 48vh 56vh var(--grey1), 49vh 56vh var(--beige), 50vh 56vh var(--brick), 51vh 56vh var(--brick), 52vh 56vh var(--brick), 53vh 56vh var(--yellow), 2vh 57vh var(--yellow), 3vh 57vh var(--beige), 4vh 57vh var(--brick), 5vh 57vh var(--beige), 6vh 57vh var(--beige), 7vh 57vh var(--grey1), 8vh 57vh var(--grey1), 9vh 57vh var(--grey1), 10vh 57vh var(--grey1), 11vh 57vh var(--beige), 12vh 57vh var(--beige), 13vh 57vh var(--brick), 14vh 57vh var(--beige), 15vh 57vh var(--beige), 16vh 57vh var(--grey1), 17vh 57vh var(--grey1), 18vh 57vh var(--grey1), 19vh 57vh var(--grey1), 20vh 57vh var(--beige), 21vh 57vh var(--beige), 22vh 57vh var(--brick), 23vh 57vh var(--brick), 24vh 57vh var(--beige), 25vh 57vh var(--beige), 26vh 57vh var(--grey1), 27vh 57vh var(--grey1), 28vh 57vh var(--grey1), 29vh 57vh var(--grey1), 30vh 57vh var(--beige), 31vh 57vh var(--beige), 32vh 57vh var(--brick), 33vh 57vh var(--brick), 34vh 57vh var(--beige), 35vh 57vh var(--beige), 36vh 57vh var(--grey1), 37vh 57vh var(--grey1), 38vh 57vh var(--grey1), 39vh 57vh var(--grey1), 40vh 57vh var(--beige), 41vh 57vh var(--beige), 42vh 57vh var(--brick), 43vh 57vh var(--beige), 44vh 57vh var(--beige), 45vh 57vh var(--grey1), 46vh 57vh var(--grey1), 47vh 57vh var(--grey1), 48vh 57vh var(--grey1), 49vh 57vh var(--beige), 50vh 57vh var(--beige), 51vh 57vh var(--brick), 52vh 57vh var(--beige), 53vh 57vh var(--yellow), 2vh 58vh var(--yellow), 3vh 58vh var(--brick), 4vh 58vh var(--brick), 5vh 58vh var(--brick), 6vh 58vh var(--beige), 7vh 58vh var(--grey1), 8vh 58vh var(--grey1), 9vh 58vh var(--grey1), 10vh 58vh var(--grey1), 11vh 58vh var(--beige), 12vh 58vh var(--brick), 13vh 58vh var(--brick), 14vh 58vh var(--brick), 15vh 58vh var(--beige), 16vh 58vh var(--grey1), 17vh 58vh var(--grey1), 18vh 58vh var(--grey1), 19vh 58vh var(--grey1), 20vh 58vh var(--beige), 21vh 58vh var(--brick), 22vh 58vh var(--brick), 23vh 58vh var(--brick), 24vh 58vh var(--brick), 25vh 58vh var(--beige), 26vh 58vh var(--grey1), 27vh 58vh var(--grey1), 28vh 58vh var(--grey1), 29vh 58vh var(--grey1), 30vh 58vh var(--beige), 31vh 58vh var(--brick), 32vh 58vh var(--brick), 33vh 58vh var(--brick), 34vh 58vh var(--brick), 35vh 58vh var(--beige), 36vh 58vh var(--grey1), 37vh 58vh var(--grey1), 38vh 58vh var(--grey1), 39vh 58vh var(--grey1), 40vh 58vh var(--beige), 41vh 58vh var(--brick), 42vh 58vh var(--brick), 43vh 58vh var(--brick), 44vh 58vh var(--beige), 45vh 58vh var(--grey1), 46vh 58vh var(--grey1), 47vh 58vh var(--grey1), 48vh 58vh var(--grey1), 49vh 58vh var(--beige), 50vh 58vh var(--brick), 51vh 58vh var(--brick), 52vh 58vh var(--brick), 53vh 58vh var(--yellow), 2vh 59vh var(--yellow), 3vh 59vh var(--brick), 4vh 59vh var(--brick), 5vh 59vh var(--brick), 6vh 59vh var(--beige), 7vh 59vh var(--beige), 8vh 59vh var(--beige), 9vh 59vh var(--beige), 10vh 59vh var(--beige), 11vh 59vh var(--beige), 12vh 59vh var(--brick), 13vh 59vh var(--brick), 14vh 59vh var(--brick), 15vh 59vh var(--beige), 16vh 59vh var(--beige), 17vh 59vh var(--beige), 18vh 59vh var(--beige), 19vh 59vh var(--beige), 20vh 59vh var(--beige), 21vh 59vh var(--brick), 22vh 59vh var(--brick), 23vh 59vh var(--brick), 24vh 59vh var(--brick), 25vh 59vh var(--beige), 26vh 59vh var(--beige), 27vh 59vh var(--beige), 28vh 59vh var(--beige), 29vh 59vh var(--beige), 30vh 59vh var(--beige), 31vh 59vh var(--brick), 32vh 59vh var(--brick), 33vh 59vh var(--brick), 34vh 59vh var(--brick), 35vh 59vh var(--beige), 36vh 59vh var(--beige), 37vh 59vh var(--beige), 38vh 59vh var(--beige), 39vh 59vh var(--beige), 40vh 59vh var(--beige), 41vh 59vh var(--brick), 42vh 59vh var(--brick), 43vh 59vh var(--brick), 44vh 59vh var(--beige), 45vh 59vh var(--beige), 46vh 59vh var(--beige), 47vh 59vh var(--beige), 48vh 59vh var(--beige), 49vh 59vh var(--beige), 50vh 59vh var(--brick), 51vh 59vh var(--brick), 52vh 59vh var(--brick), 53vh 59vh var(--yellow), 2vh 60vh var(--yellow), 3vh 60vh var(--beige), 4vh 60vh var(--beige), 5vh 60vh var(--beige), 6vh 60vh var(--beige), 7vh 60vh var(--beige), 8vh 60vh var(--beige), 9vh 60vh var(--beige), 10vh 60vh var(--beige), 11vh 60vh var(--beige), 12vh 60vh var(--beige), 13vh 60vh var(--beige), 14vh 60vh var(--beige), 15vh 60vh var(--beige), 16vh 60vh var(--beige), 17vh 60vh var(--beige), 18vh 60vh var(--beige), 19vh 60vh var(--beige), 20vh 60vh var(--beige), 21vh 60vh var(--beige), 22vh 60vh var(--beige), 23vh 60vh var(--beige), 24vh 60vh var(--beige), 25vh 60vh var(--beige), 26vh 60vh var(--beige), 27vh 60vh var(--beige), 28vh 60vh var(--beige), 29vh 60vh var(--beige), 30vh 60vh var(--beige), 31vh 60vh var(--beige), 32vh 60vh var(--beige), 33vh 60vh var(--beige), 34vh 60vh var(--beige), 35vh 60vh var(--beige), 36vh 60vh var(--beige), 37vh 60vh var(--beige), 38vh 60vh var(--beige), 39vh 60vh var(--beige), 40vh 60vh var(--beige), 41vh 60vh var(--beige), 42vh 60vh var(--beige), 43vh 60vh var(--beige), 44vh 60vh var(--beige), 45vh 60vh var(--beige), 46vh 60vh var(--beige), 47vh 60vh var(--beige), 48vh 60vh var(--beige), 49vh 60vh var(--beige), 50vh 60vh var(--beige), 51vh 60vh var(--beige), 52vh 60vh var(--beige), 53vh 60vh var(--yellow), 2vh 61vh var(--yellow), 3vh 61vh var(--yellow), 4vh 61vh var(--yellow), 5vh 61vh var(--yellow), 6vh 61vh var(--yellow), 7vh 61vh var(--yellow), 8vh 61vh var(--yellow), 9vh 61vh var(--yellow), 10vh 61vh var(--yellow), 11vh 61vh var(--yellow), 12vh 61vh var(--yellow), 13vh 61vh var(--yellow), 14vh 61vh var(--yellow), 15vh 61vh var(--yellow), 16vh 61vh var(--yellow), 17vh 61vh var(--yellow), 18vh 61vh var(--yellow), 19vh 61vh var(--yellow), 20vh 61vh var(--yellow), 21vh 61vh var(--yellow), 22vh 61vh var(--yellow), 23vh 61vh var(--yellow), 24vh 61vh var(--yellow), 25vh 61vh var(--yellow), 26vh 61vh var(--yellow), 27vh 61vh var(--yellow), 28vh 61vh var(--yellow), 29vh 61vh var(--yellow), 30vh 61vh var(--yellow), 31vh 61vh var(--yellow), 32vh 61vh var(--yellow), 33vh 61vh var(--yellow), 34vh 61vh var(--yellow), 35vh 61vh var(--yellow), 36vh 61vh var(--yellow), 37vh 61vh var(--yellow), 38vh 61vh var(--yellow), 39vh 61vh var(--yellow), 40vh 61vh var(--yellow), 41vh 61vh var(--yellow), 42vh 61vh var(--yellow), 43vh 61vh var(--yellow), 44vh 61vh var(--yellow), 45vh 61vh var(--yellow), 46vh 61vh var(--yellow), 47vh 61vh var(--yellow), 48vh 61vh var(--yellow), 49vh 61vh var(--yellow), 50vh 61vh var(--yellow), 51vh 61vh var(--yellow), 52vh 61vh var(--yellow), 53vh 61vh var(--yellow), 2vh 62vh var(--yellow), 3vh 62vh var(--beige), 4vh 62vh var(--beige), 5vh 62vh var(--beige), 6vh 62vh var(--beige), 7vh 62vh var(--beige), 8vh 62vh var(--beige), 9vh 62vh var(--beige), 10vh 62vh var(--beige), 11vh 62vh var(--beige), 12vh 62vh var(--beige), 13vh 62vh var(--beige), 14vh 62vh var(--beige), 15vh 62vh var(--beige), 16vh 62vh var(--beige), 17vh 62vh var(--beige), 18vh 62vh var(--beige), 19vh 62vh var(--beige), 20vh 62vh var(--beige), 21vh 62vh var(--beige), 22vh 62vh var(--beige), 23vh 62vh var(--beige), 24vh 62vh var(--beige), 25vh 62vh var(--beige), 26vh 62vh var(--beige), 27vh 62vh var(--beige), 28vh 62vh var(--beige), 29vh 62vh var(--beige), 30vh 62vh var(--beige), 31vh 62vh var(--beige), 32vh 62vh var(--beige), 33vh 62vh var(--beige), 34vh 62vh var(--beige), 35vh 62vh var(--beige), 36vh 62vh var(--beige), 37vh 62vh var(--beige), 38vh 62vh var(--beige), 39vh 62vh var(--beige), 40vh 62vh var(--beige), 41vh 62vh var(--beige), 42vh 62vh var(--beige), 43vh 62vh var(--beige), 44vh 62vh var(--beige), 45vh 62vh var(--beige), 46vh 62vh var(--beige), 47vh 62vh var(--beige), 48vh 62vh var(--beige), 49vh 62vh var(--beige), 50vh 62vh var(--beige), 51vh 62vh var(--beige), 52vh 62vh var(--beige), 53vh 62vh var(--yellow), 2vh 63vh var(--beige1), 3vh 63vh var(--yellow), 4vh 63vh var(--yellow), 5vh 63vh var(--yellow), 6vh 63vh var(--yellow), 7vh 63vh var(--beige1), 8vh 63vh var(--beige1), 9vh 63vh var(--beige1), 10vh 63vh var(--beige1), 11vh 63vh var(--beige1), 12vh 63vh var(--beige1), 13vh 63vh var(--yellow), 14vh 63vh var(--yellow), 15vh 63vh var(--yellow), 16vh 63vh var(--yellow), 17vh 63vh var(--beige1), 18vh 63vh var(--beige1), 19vh 63vh var(--beige1), 20vh 63vh var(--yellow), 21vh 63vh var(--yellow), 22vh 63vh var(--yellow), 23vh 63vh var(--yellow), 24vh 63vh var(--beige1), 25vh 63vh var(--beige1), 26vh 63vh var(--beige1), 27vh 63vh var(--beige1), 28vh 63vh var(--beige1), 29vh 63vh var(--beige1), 30vh 63vh var(--yellow), 31vh 63vh var(--yellow), 32vh 63vh var(--yellow), 33vh 63vh var(--yellow), 34vh 63vh var(--yellow), 35vh 63vh var(--beige1), 36vh 63vh var(--beige1), 37vh 63vh var(--beige1), 38vh 63vh var(--yellow), 39vh 63vh var(--yellow), 40vh 63vh var(--yellow), 41vh 63vh var(--yellow), 42vh 63vh var(--yellow), 43vh 63vh var(--beige1), 44vh 63vh var(--beige1), 45vh 63vh var(--beige1), 46vh 63vh var(--beige1), 47vh 63vh var(--beige1), 48vh 63vh var(--beige1), 49vh 63vh var(--yellow), 50vh 63vh var(--yellow), 51vh 63vh var(--yellow), 52vh 63vh var(--yellow), 53vh 63vh var(--beige1), 2vh 64vh var(--beige1), 3vh 64vh var(--beige1), 4vh 64vh var(--beige1), 5vh 64vh var(--beige1), 6vh 64vh var(--beige1), 7vh 64vh var(--beige1), 8vh 64vh var(--beige), 9vh 64vh var(--beige), 10vh 64vh var(--beige), 11vh 64vh var(--beige), 12vh 64vh var(--beige1), 13vh 64vh var(--beige1), 14vh 64vh var(--beige1), 15vh 64vh var(--beige1), 16vh 64vh var(--beige1), 17vh 64vh var(--beige), 18vh 64vh var(--beige), 19vh 64vh var(--beige), 20vh 64vh var(--beige1), 21vh 64vh var(--beige1), 22vh 64vh var(--beige1), 23vh 64vh var(--beige1), 24vh 64vh var(--beige1), 25vh 64vh var(--beige1), 26vh 64vh var(--beige), 27vh 64vh var(--beige), 28vh 64vh var(--beige), 29vh 64vh var(--beige), 30vh 64vh var(--beige1), 31vh 64vh var(--beige1), 32vh 64vh var(--beige1), 33vh 64vh var(--beige1), 34vh 64vh var(--beige1), 35vh 64vh var(--beige1), 36vh 64vh var(--beige), 37vh 64vh var(--beige), 38vh 64vh var(--beige), 39vh 64vh var(--beige1), 40vh 64vh var(--beige1), 41vh 64vh var(--beige1), 42vh 64vh var(--beige1), 43vh 64vh var(--beige1), 44vh 64vh var(--beige), 45vh 64vh var(--beige), 46vh 64vh var(--beige), 47vh 64vh var(--beige), 48vh 64vh var(--beige1), 49vh 64vh var(--beige1), 50vh 64vh var(--beige1), 51vh 64vh var(--beige1), 52vh 64vh var(--beige1), 53vh 64vh var(--beige1), 2vh 65vh var(--yellow), 3vh 65vh var(--beige), 4vh 65vh var(--yellow), 5vh 65vh var(--beige), 6vh 65vh var(--beige), 7vh 65vh var(--beige), 8vh 65vh var(--beige1), 9vh 65vh var(--beige), 10vh 65vh var(--beige), 11vh 65vh var(--beige1), 12vh 65vh var(--beige), 13vh 65vh var(--beige), 14vh 65vh var(--beige), 15vh 65vh var(--beige), 16vh 65vh var(--beige), 17vh 65vh var(--yellow), 18vh 65vh var(--beige), 19vh 65vh var(--yellow), 20vh 65vh var(--beige), 21vh 65vh var(--beige), 22vh 65vh var(--beige), 23vh 65vh var(--beige), 24vh 65vh var(--beige), 25vh 65vh var(--beige), 26vh 65vh var(--beige1), 27vh 65vh var(--beige), 28vh 65vh var(--beige), 29vh 65vh var(--beige1), 30vh 65vh var(--beige), 31vh 65vh var(--beige), 32vh 65vh var(--beige), 33vh 65vh var(--beige), 34vh 65vh var(--beige), 35vh 65vh var(--beige), 36vh 65vh var(--yellow), 37vh 65vh var(--beige), 38vh 65vh var(--yellow), 39vh 65vh var(--beige), 40vh 65vh var(--beige), 41vh 65vh var(--beige), 42vh 65vh var(--beige), 43vh 65vh var(--beige), 44vh 65vh var(--beige1), 45vh 65vh var(--beige), 46vh 65vh var(--beige), 47vh 65vh var(--beige1), 48vh 65vh var(--beige), 49vh 65vh var(--beige), 50vh 65vh var(--beige), 51vh 65vh var(--yellow), 52vh 65vh var(--beige), 53vh 65vh var(--yellow), 2vh 66vh var(--beige1), 3vh 66vh var(--yellow), 4vh 66vh var(--yellow), 5vh 66vh var(--yellow), 6vh 66vh var(--yellow), 7vh 66vh var(--yellow), 8vh 66vh var(--beige1), 9vh 66vh var(--yellow), 10vh 66vh var(--yellow), 11vh 66vh var(--beige1), 12vh 66vh var(--yellow), 13vh 66vh var(--yellow), 14vh 66vh var(--yellow), 15vh 66vh var(--yellow), 16vh 66vh var(--yellow), 17vh 66vh var(--beige1), 18vh 66vh var(--yellow), 19vh 66vh var(--beige1), 20vh 66vh var(--yellow), 21vh 66vh var(--yellow), 22vh 66vh var(--yellow), 23vh 66vh var(--yellow), 24vh 66vh var(--yellow), 25vh 66vh var(--yellow), 26vh 66vh var(--beige1), 27vh 66vh var(--yellow), 28vh 66vh var(--yellow), 29vh 66vh var(--beige1), 30vh 66vh var(--yellow), 31vh 66vh var(--yellow), 32vh 66vh var(--yellow), 33vh 66vh var(--yellow), 34vh 66vh var(--yellow), 35vh 66vh var(--yellow), 36vh 66vh var(--beige1), 37vh 66vh var(--yellow), 38vh 66vh var(--beige1), 39vh 66vh var(--yellow), 40vh 66vh var(--yellow), 41vh 66vh var(--yellow), 42vh 66vh var(--yellow), 43vh 66vh var(--yellow), 44vh 66vh var(--beige1), 45vh 66vh var(--yellow), 46vh 66vh var(--yellow), 47vh 66vh var(--beige1), 48vh 66vh var(--yellow), 49vh 66vh var(--yellow), 50vh 66vh var(--yellow), 51vh 66vh var(--yellow), 52vh 66vh var(--yellow), 53vh 66vh var(--beige1), 2vh 67vh var(--beige1), 3vh 67vh var(--beige), 4vh 67vh var(--beige), 5vh 67vh var(--beige), 6vh 67vh var(--beige), 7vh 67vh var(--beige), 8vh 67vh var(--yellow), 9vh 67vh var(--beige), 10vh 67vh var(--beige), 11vh 67vh var(--yellow), 12vh 67vh var(--beige), 13vh 67vh var(--beige), 14vh 67vh var(--beige), 15vh 67vh var(--beige), 16vh 67vh var(--beige), 17vh 67vh var(--yellow), 18vh 67vh var(--beige1), 19vh 67vh var(--yellow), 20vh 67vh var(--beige), 21vh 67vh var(--beige), 22vh 67vh var(--beige), 23vh 67vh var(--beige), 24vh 67vh var(--yellow), 25vh 67vh var(--beige1), 26vh 67vh var(--beige1), 27vh 67vh var(--beige1), 28vh 67vh var(--beige1), 29vh 67vh var(--beige1), 30vh 67vh var(--beige1), 31vh 67vh var(--yellow), 32vh 67vh var(--beige), 33vh 67vh var(--beige), 34vh 67vh var(--beige), 35vh 67vh var(--beige), 36vh 67vh var(--yellow), 37vh 67vh var(--beige1), 38vh 67vh var(--yellow), 39vh 67vh var(--beige), 40vh 67vh var(--beige), 41vh 67vh var(--beige), 42vh 67vh var(--beige), 43vh 67vh var(--beige), 44vh 67vh var(--yellow), 45vh 67vh var(--beige), 46vh 67vh var(--beige), 47vh 67vh var(--yellow), 48vh 67vh var(--beige), 49vh 67vh var(--beige), 50vh 67vh var(--beige), 51vh 67vh var(--beige), 52vh 67vh var(--beige), 53vh 67vh var(--beige1), 2vh 68vh var(--beige1), 3vh 68vh var(--beige), 4vh 68vh var(--beige), 5vh 68vh var(--yellow), 6vh 68vh var(--yellow), 7vh 68vh var(--beige), 8vh 68vh var(--yellow), 9vh 68vh var(--beige), 10vh 68vh var(--beige), 11vh 68vh var(--yellow), 12vh 68vh var(--beige), 13vh 68vh var(--yellow), 14vh 68vh var(--yellow), 15vh 68vh var(--beige), 16vh 68vh var(--beige), 17vh 68vh var(--yellow), 18vh 68vh var(--beige), 19vh 68vh var(--yellow), 20vh 68vh var(--beige), 21vh 68vh var(--beige), 22vh 68vh var(--beige), 23vh 68vh var(--yellow), 24vh 68vh var(--beige1), 31vh 68vh var(--beige1), 32vh 68vh var(--yellow), 33vh 68vh var(--beige), 34vh 68vh var(--beige), 35vh 68vh var(--beige), 36vh 68vh var(--yellow), 37vh 68vh var(--beige), 38vh 68vh var(--yellow), 39vh 68vh var(--beige), 40vh 68vh var(--beige), 41vh 68vh var(--yellow), 42vh 68vh var(--yellow), 43vh 68vh var(--beige), 44vh 68vh var(--yellow), 45vh 68vh var(--beige), 46vh 68vh var(--beige), 47vh 68vh var(--yellow), 48vh 68vh var(--beige), 49vh 68vh var(--yellow), 50vh 68vh var(--yellow), 51vh 68vh var(--beige), 52vh 68vh var(--beige), 53vh 68vh var(--beige1), 2vh 69vh var(--beige1), 3vh 69vh var(--beige), 4vh 69vh var(--yellow), 5vh 69vh var(--beige), 6vh 69vh var(--beige), 7vh 69vh var(--yellow), 8vh 69vh var(--beige1), 9vh 69vh var(--yellow), 10vh 69vh var(--yellow), 11vh 69vh var(--beige1), 12vh 69vh var(--yellow), 13vh 69vh var(--beige), 14vh 69vh var(--beige), 15vh 69vh var(--yellow), 16vh 69vh var(--beige), 17vh 69vh var(--yellow), 18vh 69vh var(--beige), 19vh 69vh var(--yellow), 20vh 69vh var(--beige), 21vh 69vh var(--beige), 22vh 69vh var(--yellow), 23vh 69vh var(--beige1), 32vh 69vh var(--beige1), 33vh 69vh var(--yellow), 34vh 69vh var(--beige), 35vh 69vh var(--beige), 36vh 69vh var(--yellow), 37vh 69vh var(--beige), 38vh 69vh var(--yellow), 39vh 69vh var(--beige), 40vh 69vh var(--yellow), 41vh 69vh var(--beige), 42vh 69vh var(--beige), 43vh 69vh var(--yellow), 44vh 69vh var(--beige1), 45vh 69vh var(--yellow), 46vh 69vh var(--yellow), 47vh 69vh var(--beige1), 48vh 69vh var(--yellow), 49vh 69vh var(--beige), 50vh 69vh var(--beige), 51vh 69vh var(--yellow), 52vh 69vh var(--beige), 53vh 69vh var(--beige1), 2vh 70vh var(--beige1), 3vh 70vh var(--beige), 4vh 70vh var(--yellow), 5vh 70vh var(--yellow), 6vh 70vh var(--beige), 7vh 70vh var(--yellow), 8vh 70vh var(--beige1), 9vh 70vh var(--beige1), 10vh 70vh var(--beige1), 11vh 70vh var(--beige1), 12vh 70vh var(--yellow), 13vh 70vh var(--beige), 14vh 70vh var(--yellow), 15vh 70vh var(--yellow), 16vh 70vh var(--beige), 17vh 70vh var(--yellow), 18vh 70vh var(--beige), 19vh 70vh var(--yellow), 20vh 70vh var(--yellow), 21vh 70vh var(--yellow), 22vh 70vh var(--beige1), 33vh 70vh var(--beige1), 34vh 70vh var(--yellow), 35vh 70vh var(--yellow), 36vh 70vh var(--yellow), 37vh 70vh var(--beige), 38vh 70vh var(--yellow), 39vh 70vh var(--beige), 40vh 70vh var(--yellow), 41vh 70vh var(--yellow), 42vh 70vh var(--beige), 43vh 70vh var(--yellow), 44vh 70vh var(--beige1), 45vh 70vh var(--beige1), 46vh 70vh var(--beige1), 47vh 70vh var(--beige1), 48vh 70vh var(--yellow), 49vh 70vh var(--beige), 50vh 70vh var(--yellow), 51vh 70vh var(--yellow), 52vh 70vh var(--beige), 53vh 70vh var(--beige1), 2vh 71vh var(--beige1), 3vh 71vh var(--beige), 4vh 71vh var(--beige), 5vh 71vh var(--yellow), 6vh 71vh var(--beige1), 7vh 71vh var(--beige1), 12vh 71vh var(--beige1), 13vh 71vh var(--beige1), 14vh 71vh var(--beige), 15vh 71vh var(--beige), 16vh 71vh var(--beige1), 17vh 71vh var(--yellow), 18vh 71vh var(--beige1), 19vh 71vh var(--yellow), 20vh 71vh var(--beige1), 21vh 71vh var(--beige1), 22vh 71vh var(--beige1), 33vh 71vh var(--beige1), 34vh 71vh var(--beige1), 35vh 71vh var(--beige1), 36vh 71vh var(--yellow), 37vh 71vh var(--beige1), 38vh 71vh var(--yellow), 39vh 71vh var(--beige1), 40vh 71vh var(--beige), 41vh 71vh var(--beige), 42vh 71vh var(--beige1), 43vh 71vh var(--beige1), 48vh 71vh var(--beige1), 49vh 71vh var(--beige1), 50vh 71vh var(--yellow), 51vh 71vh var(--beige), 52vh 71vh var(--beige), 53vh 71vh var(--beige1), 2vh 72vh var(--beige1), 3vh 72vh var(--beige), 4vh 72vh var(--yellow), 5vh 72vh var(--beige1), 6vh 72vh var(--yellow), 13vh 72vh var(--yellow), 14vh 72vh var(--beige1), 15vh 72vh var(--yellow), 16vh 72vh var(--yellow), 17vh 72vh var(--yellow), 18vh 72vh var(--yellow), 19vh 72vh var(--yellow), 20vh 72vh var(--yellow), 21vh 72vh var(--beige1), 34vh 72vh var(--beige1), 35vh 72vh var(--yellow), 36vh 72vh var(--yellow), 37vh 72vh var(--yellow), 38vh 72vh var(--yellow), 39vh 72vh var(--yellow), 40vh 72vh var(--yellow), 41vh 72vh var(--beige1), 42vh 72vh var(--yellow), 49vh 72vh var(--yellow), 50vh 72vh var(--beige1), 51vh 72vh var(--yellow), 52vh 72vh var(--beige), 53vh 72vh var(--beige1), 2vh 73vh var(--beige1), 3vh 73vh var(--yellow), 4vh 73vh var(--beige1), 5vh 73vh var(--beige1), 14vh 73vh var(--beige1), 15vh 73vh var(--beige1), 16vh 73vh var(--yellow), 17vh 73vh var(--beige), 18vh 73vh var(--beige), 19vh 73vh var(--beige), 20vh 73vh var(--yellow), 21vh 73vh var(--beige1), 34vh 73vh var(--beige1), 35vh 73vh var(--yellow), 36vh 73vh var(--beige), 37vh 73vh var(--beige), 38vh 73vh var(--beige), 39vh 73vh var(--yellow), 40vh 73vh var(--beige1), 41vh 73vh var(--beige1), 50vh 73vh var(--beige1), 51vh 73vh var(--beige1), 52vh 73vh var(--yellow), 53vh 73vh var(--beige1), 2vh 74vh var(--beige1), 3vh 74vh var(--beige1), 4vh 74vh var(--beige1), 15vh 74vh var(--beige1), 16vh 74vh var(--beige1), 17vh 74vh var(--yellow), 18vh 74vh var(--beige), 19vh 74vh var(--yellow), 20vh 74vh var(--beige1), 21vh 74vh var(--beige1), 34vh 74vh var(--beige1), 35vh 74vh var(--beige1), 36vh 74vh var(--yellow), 37vh 74vh var(--beige), 38vh 74vh var(--yellow), 39vh 74vh var(--beige1), 40vh 74vh var(--beige1), 51vh 74vh var(--beige1), 52vh 74vh var(--beige1), 53vh 74vh var(--beige1), 2vh 75vh var(--beige1), 3vh 75vh var(--yellow), 4vh 75vh var(--beige1), 15vh 75vh var(--beige1), 16vh 75vh var(--yellow), 17vh 75vh var(--beige1), 18vh 75vh var(--yellow), 19vh 75vh var(--beige1), 20vh 75vh var(--yellow), 21vh 75vh var(--beige1), 34vh 75vh var(--beige1), 35vh 75vh var(--yellow), 36vh 75vh var(--beige1), 37vh 75vh var(--yellow), 38vh 75vh var(--beige1), 39vh 75vh var(--yellow), 40vh 75vh var(--beige1), 51vh 75vh var(--beige1), 52vh 75vh var(--yellow), 53vh 75vh var(--beige1), 2vh 76vh var(--beige1), 3vh 76vh var(--beige1), 4vh 76vh var(--beige1), 15vh 76vh var(--beige1), 16vh 76vh var(--beige1), 17vh 76vh var(--beige1), 18vh 76vh var(--beige1), 19vh 76vh var(--beige1), 20vh 76vh var(--beige1), 21vh 76vh var(--beige1), 34vh 76vh var(--beige1), 35vh 76vh var(--beige1), 36vh 76vh var(--beige1), 37vh 76vh var(--beige1), 38vh 76vh var(--beige1), 39vh 76vh var(--beige1), 40vh 76vh var(--beige1), 51vh 76vh var(--beige1), 52vh 76vh var(--beige1), 53vh 76vh var(--beige1), 2vh 77vh var(--beige1), 3vh 77vh var(--yellow), 4vh 77vh var(--beige1), 15vh 77vh var(--yellow), 16vh 77vh var(--beige1), 17vh 77vh var(--yellow), 18vh 77vh var(--beige1), 19vh 77vh var(--yellow), 20vh 77vh var(--beige1), 21vh 77vh var(--yellow), 34vh 77vh var(--yellow), 35vh 77vh var(--beige1), 36vh 77vh var(--yellow), 37vh 77vh var(--beige1), 38vh 77vh var(--yellow), 39vh 77vh var(--beige1), 40vh 77vh var(--yellow), 51vh 77vh var(--beige1), 52vh 77vh var(--yellow), 53vh 77vh var(--beige1), 2vh 78vh var(--beige1), 3vh 78vh var(--beige), 4vh 78vh var(--yellow), 15vh 78vh var(--yellow), 16vh 78vh var(--beige1), 17vh 78vh var(--yellow), 18vh 78vh var(--beige), 19vh 78vh var(--yellow), 20vh 78vh var(--beige1), 21vh 78vh var(--yellow), 34vh 78vh var(--yellow), 35vh 78vh var(--beige1), 36vh 78vh var(--yellow), 37vh 78vh var(--beige), 38vh 78vh var(--yellow), 39vh 78vh var(--beige1), 40vh 78vh var(--yellow), 51vh 78vh var(--yellow), 52vh 78vh var(--beige), 53vh 78vh var(--beige1), 2vh 79vh var(--beige1), 3vh 79vh var(--beige), 4vh 79vh var(--yellow), 15vh 79vh var(--yellow), 16vh 79vh var(--beige1), 17vh 79vh var(--yellow), 18vh 79vh var(--beige), 19vh 79vh var(--yellow), 20vh 79vh var(--beige1), 21vh 79vh var(--yellow), 34vh 79vh var(--yellow), 35vh 79vh var(--beige1), 36vh 79vh var(--yellow), 37vh 79vh var(--beige), 38vh 79vh var(--yellow), 39vh 79vh var(--beige1), 40vh 79vh var(--yellow), 51vh 79vh var(--yellow), 52vh 79vh var(--beige), 53vh 79vh var(--beige1), 2vh 80vh var(--beige1), 3vh 80vh var(--beige), 4vh 80vh var(--yellow), 15vh 80vh var(--yellow), 16vh 80vh var(--beige1), 17vh 80vh var(--yellow), 18vh 80vh var(--beige), 19vh 80vh var(--yellow), 20vh 80vh var(--beige1), 21vh 80vh var(--yellow), 34vh 80vh var(--yellow), 35vh 80vh var(--beige1), 36vh 80vh var(--yellow), 37vh 80vh var(--beige), 38vh 80vh var(--yellow), 39vh 80vh var(--beige1), 40vh 80vh var(--yellow), 51vh 80vh var(--yellow), 52vh 80vh var(--beige), 53vh 80vh var(--beige1), 2vh 81vh var(--beige1), 3vh 81vh var(--beige), 4vh 81vh var(--yellow), 15vh 81vh var(--yellow), 16vh 81vh var(--beige1), 17vh 81vh var(--yellow), 18vh 81vh var(--beige), 19vh 81vh var(--yellow), 20vh 81vh var(--beige1), 21vh 81vh var(--yellow), 34vh 81vh var(--yellow), 35vh 81vh var(--beige1), 36vh 81vh var(--yellow), 37vh 81vh var(--beige), 38vh 81vh var(--yellow), 39vh 81vh var(--beige1), 40vh 81vh var(--yellow), 51vh 81vh var(--yellow), 52vh 81vh var(--beige), 53vh 81vh var(--beige1), 2vh 82vh var(--beige1), 3vh 82vh var(--beige), 4vh 82vh var(--yellow), 15vh 82vh var(--yellow), 16vh 82vh var(--beige1), 17vh 82vh var(--yellow), 18vh 82vh var(--beige), 19vh 82vh var(--yellow), 20vh 82vh var(--beige1), 21vh 82vh var(--yellow), 34vh 82vh var(--yellow), 35vh 82vh var(--beige1), 36vh 82vh var(--yellow), 37vh 82vh var(--beige), 38vh 82vh var(--yellow), 39vh 82vh var(--beige1), 40vh 82vh var(--yellow), 51vh 82vh var(--yellow), 52vh 82vh var(--beige), 53vh 82vh var(--beige1), 2vh 83vh var(--beige1), 3vh 83vh var(--beige), 4vh 83vh var(--yellow), 15vh 83vh var(--yellow), 16vh 83vh var(--beige1), 17vh 83vh var(--yellow), 18vh 83vh var(--beige), 19vh 83vh var(--yellow), 20vh 83vh var(--beige1), 21vh 83vh var(--yellow), 34vh 83vh var(--yellow), 35vh 83vh var(--beige1), 36vh 83vh var(--yellow), 37vh 83vh var(--beige), 38vh 83vh var(--yellow), 39vh 83vh var(--beige1), 40vh 83vh var(--yellow), 51vh 83vh var(--yellow), 52vh 83vh var(--beige), 53vh 83vh var(--beige1), 2vh 84vh var(--beige1), 3vh 84vh var(--beige), 4vh 84vh var(--yellow), 15vh 84vh var(--yellow), 16vh 84vh var(--beige1), 17vh 84vh var(--yellow), 18vh 84vh var(--beige), 19vh 84vh var(--yellow), 20vh 84vh var(--beige1), 21vh 84vh var(--yellow), 34vh 84vh var(--yellow), 35vh 84vh var(--beige1), 36vh 84vh var(--yellow), 37vh 84vh var(--beige), 38vh 84vh var(--yellow), 39vh 84vh var(--beige1), 40vh 84vh var(--yellow), 51vh 84vh var(--yellow), 52vh 84vh var(--beige), 53vh 84vh var(--beige1), 2vh 85vh var(--beige1), 3vh 85vh var(--beige), 4vh 85vh var(--yellow), 15vh 85vh var(--yellow), 16vh 85vh var(--beige1), 17vh 85vh var(--yellow), 18vh 85vh var(--beige), 19vh 85vh var(--yellow), 20vh 85vh var(--beige1), 21vh 85vh var(--yellow), 34vh 85vh var(--yellow), 35vh 85vh var(--beige1), 36vh 85vh var(--yellow), 37vh 85vh var(--beige), 38vh 85vh var(--yellow), 39vh 85vh var(--beige1), 40vh 85vh var(--yellow), 51vh 85vh var(--yellow), 52vh 85vh var(--beige), 53vh 85vh var(--beige1), 2vh 86vh var(--beige1), 3vh 86vh var(--beige), 4vh 86vh var(--yellow), 15vh 86vh var(--yellow), 16vh 86vh var(--beige1), 17vh 86vh var(--yellow), 18vh 86vh var(--beige), 19vh 86vh var(--yellow), 20vh 86vh var(--beige1), 21vh 86vh var(--yellow), 34vh 86vh var(--yellow), 35vh 86vh var(--beige1), 36vh 86vh var(--yellow), 37vh 86vh var(--beige), 38vh 86vh var(--yellow), 39vh 86vh var(--beige1), 40vh 86vh var(--yellow), 51vh 86vh var(--yellow), 52vh 86vh var(--beige), 53vh 86vh var(--beige1), 2vh 87vh var(--beige1), 3vh 87vh var(--beige1), 4vh 87vh var(--yellow), 15vh 87vh var(--yellow), 16vh 87vh var(--beige1), 17vh 87vh var(--beige1), 18vh 87vh var(--beige1), 19vh 87vh var(--beige1), 20vh 87vh var(--beige1), 21vh 87vh var(--yellow), 34vh 87vh var(--yellow), 35vh 87vh var(--beige1), 36vh 87vh var(--beige1), 37vh 87vh var(--beige1), 38vh 87vh var(--beige1), 39vh 87vh var(--beige1), 40vh 87vh var(--yellow), 51vh 87vh var(--yellow), 52vh 87vh var(--beige1), 53vh 87vh var(--beige1); }

.tree {
  bottom: 15vh;
  box-shadow: 7vh 0vh var(--green1), 6vh 1vh var(--green1), 7vh 1vh var(--green1), 8vh 1vh var(--green2), 5vh 2vh var(--green1), 6vh 2vh var(--green1), 7vh 2vh var(--green2), 8vh 2vh var(--green3), 9vh 2vh var(--green4), 5vh 3vh var(--green1), 6vh 3vh var(--green1), 7vh 3vh var(--green2), 8vh 3vh var(--green2), 9vh 3vh var(--green4), 5vh 4vh var(--green1), 6vh 4vh var(--green2), 7vh 4vh var(--green2), 8vh 4vh var(--green4), 9vh 4vh var(--green4), 4vh 5vh var(--green1), 5vh 5vh var(--green1), 6vh 5vh var(--green2), 7vh 5vh var(--green2), 8vh 5vh var(--green4), 9vh 5vh var(--green4), 10vh 5vh var(--green5), 4vh 6vh var(--green1), 5vh 6vh var(--green1), 6vh 6vh var(--green2), 7vh 6vh var(--green2), 8vh 6vh var(--green2), 9vh 6vh var(--green5), 10vh 6vh var(--green6), 3vh 7vh var(--green1), 4vh 7vh var(--green1), 5vh 7vh var(--green2), 6vh 7vh var(--green2), 7vh 7vh var(--green2), 8vh 7vh var(--green3), 9vh 7vh var(--green4), 10vh 7vh var(--green5), 11vh 7vh var(--green6), 3vh 8vh var(--green1), 4vh 8vh var(--green1), 5vh 8vh var(--green1), 6vh 8vh var(--green2), 7vh 8vh var(--green2), 8vh 8vh var(--green3), 9vh 8vh var(--green4), 10vh 8vh var(--green5), 11vh 8vh var(--green6), 3vh 9vh var(--green1), 4vh 9vh var(--green1), 5vh 9vh var(--green2), 6vh 9vh var(--green2), 7vh 9vh var(--green2), 8vh 9vh var(--green3), 9vh 9vh var(--green3), 10vh 9vh var(--green4), 11vh 9vh var(--green6), 2vh 10vh var(--green1), 3vh 10vh var(--green1), 4vh 10vh var(--green2), 5vh 10vh var(--green2), 6vh 10vh var(--green2), 7vh 10vh var(--green2), 8vh 10vh var(--green2), 9vh 10vh var(--green3), 10vh 10vh var(--green4), 11vh 10vh var(--green5), 12vh 10vh var(--green6), 2vh 11vh var(--green1), 3vh 11vh var(--green1), 4vh 11vh var(--green1), 5vh 11vh var(--green2), 6vh 11vh var(--green2), 7vh 11vh var(--green2), 8vh 11vh var(--green3), 9vh 11vh var(--green3), 10vh 11vh var(--green4), 11vh 11vh var(--green5), 12vh 11vh var(--green6), 2vh 12vh var(--green1), 3vh 12vh var(--green1), 4vh 12vh var(--green2), 5vh 12vh var(--green2), 6vh 12vh var(--green2), 7vh 12vh var(--green3), 8vh 12vh var(--green3), 9vh 12vh var(--green3), 10vh 12vh var(--green4), 11vh 12vh var(--green5), 12vh 12vh var(--green6), 1vh 13vh var(--green1), 2vh 13vh var(--green1), 3vh 13vh var(--green2), 4vh 13vh var(--green2), 5vh 13vh var(--green2), 6vh 13vh var(--green2), 7vh 13vh var(--green2), 8vh 13vh var(--green3), 9vh 13vh var(--green4), 10vh 13vh var(--green5), 11vh 13vh var(--green6), 12vh 13vh var(--green6), 13vh 13vh var(--green6), 1vh 14vh var(--green1), 2vh 14vh var(--green1), 3vh 14vh var(--green1), 4vh 14vh var(--green2), 5vh 14vh var(--green2), 6vh 14vh var(--green2), 7vh 14vh var(--green3), 8vh 14vh var(--green3), 9vh 14vh var(--green4), 10vh 14vh var(--green5), 11vh 14vh var(--green5), 12vh 14vh var(--green6), 13vh 14vh var(--green6), 1vh 15vh var(--green1), 2vh 15vh var(--green1), 3vh 15vh var(--green2), 4vh 15vh var(--green2), 5vh 15vh var(--green2), 6vh 15vh var(--green3), 7vh 15vh var(--green3), 8vh 15vh var(--green3), 9vh 15vh var(--green4), 10vh 15vh var(--green5), 11vh 15vh var(--green6), 12vh 15vh var(--green6), 13vh 15vh var(--green6); }

.tree1 {
  left: -14vh; }

.tree2 {
  left: -6vh; }

.tree3 {
  left: 56vh; }

.tree4 {
  left: 68vh; }

.p {
  z-index: -1;
  bottom: 14vh;
  opacity: 0; }

.p:before,
.p:after {
  content: "";
  top: 10vh; }

.parisian,
.parisian2 {
  left: 5vh; }

.parisian {
  box-shadow: 4vh 0vh var(--brown), 5vh 0vh var(--brown), 3vh 1vh var(--brown), 4vh 1vh var(--brown), 5vh 1vh var(--skin), 4vh 2vh var(--blue), 5vh 2vh var(--blue), 2vh 3vh var(--blue), 3vh 3vh var(--blue), 4vh 3vh var(--red), 5vh 3vh var(--red), 3vh 4vh var(--red), 4vh 4vh var(--red), 5vh 4vh var(--red), 3vh 5vh var(--red), 4vh 5vh var(--red), 5vh 5vh var(--red), 3vh 6vh var(--red), 4vh 6vh var(--red), 5vh 6vh var(--red), 2vh 7vh var(--red), 3vh 7vh var(--red), 4vh 7vh var(--red), 5vh 7vh var(--red), 2vh 8vh var(--red), 3vh 8vh var(--red), 4vh 8vh var(--red), 5vh 8vh var(--red), 2vh 9vh var(--red), 3vh 9vh var(--red), 4vh 9vh var(--red), 5vh 9vh var(--red);
  animation: move 4s infinite steps(80), hideshow 12s infinite steps(1); }

.parisian1:before,
.parisian1:after {
  top: 9vh; }

.parisian:before {
  left: 3vh;
  box-shadow: 2vh 0vh var(--darkjean), 2vh 1vh var(--darkjean), 2vh 2vh var(--darkjean), 2vh 3vh var(--brown);
  animation: step1 0.5s steps(2) infinite; }

.parisian:after {
  left: -1vh;
  box-shadow: 4vh 0vh var(--darkjean), 4vh 1vh var(--darkjean), 3vh 2vh var(--darkjean), 2vh 3vh var(--brown);
  animation: step 0.5s steps(2) infinite; }

.parisian2 {
  box-shadow: 3vh 0vh var(--brown), 4vh 0vh var(--brown), 3vh 1vh var(--brown), 4vh 1vh var(--skin), 3vh 2vh var(--red), 4vh 2vh var(--red), 3vh 3vh var(--blue), 4vh 3vh var(--blue), 5vh 3vh var(--red), 3vh 4vh var(--blue), 4vh 4vh var(--blue), 3vh 5vh var(--blue), 4vh 5vh var(--blue), 5vh 5vh var(--blue), 3vh 6vh var(--blue), 4vh 6vh var(--blue), 3vh 7vh var(--darkjean), 4vh 7vh var(--darkjean), 3vh 8vh var(--darkjean), 4vh 8vh var(--darkjean), 3vh 9vh var(--darkjean), 4vh 9vh var(--darkjean);
  animation: move0 3s 5s infinite steps(80), hideshow 9s 5s infinite steps(1); }

.parisian2:before {
  left: 3vh;
  box-shadow: 2vh 0vh var(--darkjean), 2vh 1vh var(--darkjean), 2vh 2vh var(--brown);
  animation: step1 0.5s steps(2) infinite; }

.parisian2:after {
  left: -1vh;
  box-shadow: 3vh 0vh var(--darkjean), 3vh 1vh var(--darkjean), 2vh 2vh var(--brown);
  animation: step 0.5s steps(2) infinite; }

.parisian1 {
  box-shadow: 1vh 0vh var(--brown1), 2vh 0vh var(--brown1), 1vh 1vh var(--skin1), 2vh 1vh var(--brown1), 3vh 1vh var(--brown1), 1vh 2vh var(--red), 2vh 2vh var(--red), 1vh 3vh var(--fl), 2vh 3vh var(--fl), 3vh 3vh var(--red), 4vh 3vh var(--red), 1vh 4vh var(--fl), 2vh 4vh var(--fl), 3vh 4vh var(--fl), 1vh 5vh var(--fl), 2vh 5vh var(--fl), 3vh 5vh var(--fl), 1vh 6vh var(--fl), 2vh 6vh var(--fl), 3vh 6vh var(--fl), 1vh 7vh var(--fl), 2vh 7vh var(--fl), 3vh 7vh var(--fl), 4vh 7vh var(--fl), 1vh 8vh var(--fl), 2vh 8vh var(--fl), 3vh 8vh var(--fl), 4vh 8vh var(--fl);
  transform: translateX(54vh);
  animation: move1 5s 6s infinite steps(80), hideshow1 10s 6s infinite steps(1); }

.parisian1:before {
  left: 0;
  box-shadow: 1vh 0vh var(--jean), 1vh 1vh var(--jean), 1vh 2vh var(--jean), 1vh 3vh var(--brown1);
  animation: step1-1 0.5s steps(2) infinite; }

.parisian1:after {
  left: 2vh;
  box-shadow: 1vh 0vh var(--jean), 2vh 1vh var(--jean), 2vh 2vh var(--jean), 2vh 3vh var(--brown1);
  animation: step-1 0.5s steps(2) infinite; }

@keyframes move0 {
  100% {
    transform: translateX(48vh); } }
@keyframes move {
  100% {
    transform: translateX(64vh); } }
@keyframes move1 {
  100% {
    transform: translateX(0vh); } }
@keyframes step {
  50% {
    transform: translateX(2vh); } }
@keyframes step1 {
  50% {
    transform: translateX(-1vh); } }
@keyframes hideshow {
  0% {
    opacity: 1; }
  33% {
    opacity: 0; } }
@keyframes step-1 {
  50% {
    transform: translateX(-2vh); } }
@keyframes step1-1 {
  50% {
    transform: translateX(1vh); } }
@keyframes hideshow1 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; } }
