

/* Edede Oiwoh */

/* Fonts
font-family: 'Raleway', sans-serif;
font-family: 'Advent Pro', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/
@import "house.css";

html{
	background-color: #1f2429;
	background-repeat: no-repeat;
	background-position: 25% 63%;
	background-size: 160% 160%;

}

.text {
	margin-left:6%;
	margin-top: 19%;
}

.building-holder {
	display: block;
  right: 7%;
  position: absolute;
  bottom: 0%;
	z-index: -1;
}

@media only screen and (max-width: 600px) {
	.building-holder {
		display: none;
	}
}

#name {
	color: #F9F9F9;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 0.8em;
}

#career{
	color:#f1f1f1;
	font-family: 'Advent Pro', sans-serif;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	line-height: 1em;
	font-size: 0.8em;
}

#blurb{
	color:#f1f1f1;
	font-family: 'Advent Pro', sans-serif;
	letter-spacing:0.05em;
	line-height: 1.4em;
	width:30%;
}

.link_buttons{
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 1em;
	width:10%;
	background-color: #CD5340;
	outline: 0;
	border: none;
}

.link_buttons:hover{
	background-color: rgba(0,0,0,0.1);
	border-bottom-style: solid;
	border-bottom-color: #CD5340;
}

#about {
	margin-right: 1%;
}

.mediaicons {
	color: white;
	margin: 0%;
	position: absolute;
	width: 30%;
	left:4%;
}

.mediaicons li{
	list-style-type: none;
	float: left;
	margin-right: 3%;
	font-size:1.6em;
	padding: 0;
}

.social {
	font-size:0.9em;
	color:white;
}

.social:hover {
	opacity: 0.5;
	color: rgb(200,200,200);
}
